{** block-description:description **}

{*$product.full_description|default:$product.short_description|unescape*}

{assign var="text" value=$product.full_description|default:$product.full_description2|unescape}
{assign var="textLen" value=$text|strlen}

{*if $textLen>250 || $product.my_supplier_id==3*}
	{$text}
{*else*}
<!--script src="http://agoraseto.eu/widget/behavior.js">{literal}{{/literal}"client_id": "997884543", "lang": "EL", "type":"dtable2", "ean": "{$product.product_codeB|default:0}"{literal}}{/literal}</script-->
	{*$text*}
{*/if*}