/* General styles */
body, h1, h2, h3, h4, h5, h6 {
	font: normal 13px Arial, Tahoma, Helvetica, sans-serif;
}
body, div, p {
	color: #333;
}
.input-text, .input-text-auto, .input-text-large, .input-text-medium, .input-text-short, .input-text-100, .input-textarea, .input-textarea-long , select {
	background-color: #fff;
	color: #2d2d2d;
	vertical-align: middle;
}
input[type="text"], input[type="password"], textarea, select, .scroll-y {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 3px 0 0;
	padding: 6px 3px 5px;
	border: 1px solid #ccc; 
	font: normal 100% Arial, Tahoma, Helvetica, sans-serif;
}
input[type="text"], input[type="password"] {
	height: 28px;
}
input[type="text"].cm-failed-field, input[type="password"].cm-failed-field, textarea.cm-failed-field {
	border: 1px solid #bf4d4d;
	background-color: #fff;
}
.disabled, select.disabled {
	background-color: #e3e3e3;
}
.input-text {
	width: 200px;
}
.input-text-medium {
	width: 100px;
}
.input-text-large {
	width: 300px;
}
.input-text-short {
	width: 40px;
}
.input-textarea {
	width: 370px;
}
.input-textarea-long {
	width: 90%;
}
.input-text-100 {
	width: 100%;
}
p {
	padding: 6px 0;
	color: #333;
}
ul {
	list-style-type: none;
}
ol {
	padding: 0 0 0 15px;
}
li {
	padding: 2px 0;
}
a, a:visited, a:active, a:hover {
	color: #08c;
	text-decoration: underline;
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	text-decoration: underline;
}
.hand {
	cursor: pointer;
}
.nowrap {
	white-space: nowrap;
}
.radio, .checkbox, input[type="radio"], input[type="checkbox"] {
	margin: 0 6px 0 0;
	padding: 0;
	vertical-align: middle;
}
@-moz-document url-prefix() {
.radio, .checkbox {
	margin-top: -3px;
}
}
hr {
	height: 0px;
	border: 0 none;
}
.dark-hr {
	clear: both;
	margin: 11px 0 9px 0;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.clear-both {
	clear: both;
}
.float-none {
	float: none !important;
}
.valign {
	vertical-align: middle;
}
.valign-top {
	vertical-align: top;
}
.cm-opacity {
	opacity: 0.3;
	-moz-opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=30)";
}
.required-question, .required {
	color: #f00;
}
/* /General styles */

/* Form styles */
.error-message {
	clear: both;
	text-align: left;
}
.error-message .message {
	margin-bottom: 8px;
	padding: 0 8px;
}
.error-message .arrow {
	margin-left: 10px;
	width: 0;
	font-size: 1px;
	line-height: 1px;
}
.form-field {
	margin: 6px 0 15px 0;
	padding: 0;
	vertical-align: middle;
}
.form-field.revert {
	padding-left: 20px;
}
.form-field.revert label {
	float: none;
	margin: 0;
	width: auto;
}
.form-field.revert .checkbox, .form-field.revert .radio {
	float: left;
	clear: left;
	margin: 1px 3px 0 -20px;
}
.form-field label {
	display: block;
	padding-bottom: 2px;
	font-weight: bold;
}
.form-field label.hidden {
	display: none;
}
.select-field {
	padding: 3px 0;
}
.select-field label, .form-field table label {
	clear: none;
	margin: 0 10px 0 0;
	padding: 3px 0;
	width: auto;
	vertical-align: middle;
}
.select-field label {
	padding-left: 12px;
}
.select-field label .checkbox {
	margin-left: -12px;
	vertical-align: -2px;
}
.select-field .checkbox {
	vertical-align: middle;
}
/* Form field hack to avoid float div float outside the container */
.form-field:after, .search-field:after, .info-field-title:after, .info-field:after, .item-wrap:after, .buttons-container:after, .clear:after, .break:before, .cm-tabs-content:after {
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
    content: ".";
    font-size: 0px;
}
.break:before {
	height: 3px;
}
.product-list-field, #content_subscribtion .form-field {
	margin: 15px 0 0 0;
	padding-left: 140px;
}
.product-list-field label, #content_subscribtion .form-field label {
	float: left;
	margin-left: -140px;
	padding-top: 1px;
	width: 110px;
	font-weight: normal;
}
.product-list-field label.option-items, #content_subscribtion .form-field label.option-items {
	float: none;
	margin-left: 0;
	padding: 6px 0;
	width: auto;
}
.product-features {
	margin-left: 10px;
	padding: 5px;
}
.product-list-field .radio, .product-list-field .checkbox, #content_subscribtion .form-field .radio, #content_subscribtion .form-field .checkbox {
	margin: 0 6px 2px 0;
	padding: 0;
}
.product-list-field .fileuploader, #content_subscribtion .form-field .fileuploader {
	padding: 6px 0;
}
.product-list-field .fileuploader span, .product-list-field .fileuploader p, #content_subscribtion .form-field .fileuploader span, #content_subscribtion .form-field .fileuploader p {
	padding-top: 0;
}
/* Input append with button */
.input-append {
	position: relative;
	margin: 10px 0 0 0;
	padding: 0 28px 0 0;
	max-width: 250px;
}
.input-append .input-text {
	width: 100%;
}
/* /Input append with button */
/* /Form styles */

/* Ajax */
.ajax-loading-box {
	position: fixed;
	top: 0;
	right: 50%;
	z-index: 800;
	display: none;
	padding: 0 10px;
	background-color: #333;
}
.ajax-inner-loading-box {
	padding: 6px 0 6px 27px;
	color: #fff;
	font-weight: bold;
}
.ajax-message {
	position: absolute;
	z-index: 700;
	display: none;
	padding: 10px;
	width: 339px;
}
/* /Ajax*/

/* Notification box */
.cm-notification-container {
	position: fixed;
	top: 0;
	right: 50px;
	z-index: 800;
	width: 40%;
	min-width: 300px;
}
.cm-notification-container-top {
	top: 10px;
}
.notification-content {
	position: relative;
}
.notification-w, .notification-n, .notification-e {
	position: relative;
	margin: 7px 0 7px 0;
	padding: 14px 0;
	width: 99.7%;
	border: 1px solid;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-position: 16px 12px !important;
	background-repeat: no-repeat !important;
	font-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 15px;
	opacity: 0.96;
}
.notification-w div, .notification-n div, .notification-e div {
	display: block;
	padding-right: 20px;
	padding-left: 50px;
}
.notification-header-w, .notification-header-n, .notification-header-e {
	float: left;
	margin: 0 10px 0 0;
	padding-right: 0 !important;
	font: bold 110% Arial, Helvetica, sans-serif;
	line-height: 15px;
}
.notification-w img, .notification-n img, .notification-e img {
	outline: 0;
	border: 0;
}
.notification-w p, .notification-n p, .notification-e p {
	margin: 0;
	color: #8c8531;
}
.notification-n p {
	color: #496e16;
}
.notification-e p {
	color: #9c3535;
}
.notification-w .cm-notification-close, .notification-n .cm-notification-close, .notification-e .cm-notification-close {
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 50%;
}
/* /Notification box */

/* Section in main box */
.section-border {
	margin-top: 6px;
	margin-bottom: 15px;
}
.section-title {
	padding: 13px 14px 11px 14px;
	background: #f4f4f4;
}
.section-switch {
	float: right;
	padding-right: 15px;
}
.search-form .input-text {
	width: 170px;
}
.search-form .input-text-large {
	width: 207px;
}
/* Section in main box */

/* Buttons */
.button-submit-action, .button-submit, .button-submit-big, .button, .button-action, .button-big, .button a, .button-action a, .button-submit-action input, .button-submit input, .button-submit-big input, .button-big a, a.cm-thumbnails-mini,  .promotion-coupon strong, .image-reload {
	display: -moz-inline-box;
	display: inline-block;
}
.button a, .button-action a, .button-big a, .button-submit-action input, .button-submit input, .button-submit-big input {
	margin: 0;
	padding: 0 15px;
	height: 28px;
	border: 1px solid #ccc;
	background-color: #ebebeb;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	font: bold 85% Arial, sans-serif;
	cursor: pointer;
}
.button a, .button-action a {
	height: 26px;
	line-height: 27px;
}
.button-submit-big input, .button-big a {
	padding: 0px 15px ;
	height: 34px;
	outline: 0 none;
	font-size: 100%;
	line-height: 36px;
}
.go-button {
	position: absolute;
	top: 0;
	right: 0;
	width: 28px;
	height: 28px;
	border: 1px solid #ccc;
	background-color: #dadada;
	cursor: pointer;
}
/* /Buttons */

/* Tabs */
.tabs {
	overflow: hidden;
	margin-top: 30px;
	vertical-align: bottom;
}
.tabs ul {
	vertical-align: bottom;
}
.tabs ul li, .tabs ul li.cm-active {
	float: left;
	vertical-align: bottom;
	white-space: nowrap;
	cursor: pointer;
	background-color: #f2f2f2;
}
.tabs ul li.cm-active {
	background-color: #e5e5e5;
}
.tabs ul li.cm-active a, .tabs ul li.cm-active a:visited, .tabs ul li.cm-active a:hover, .tabs ul li.cm-active a:active {
	color: #333;
	text-decoration: none;
}
.tabs ul li a {
	display: block;
	padding: 8px 15px 2px 13px;
	height: 23px;
}
.tabs ul li a:hover {
	text-decoration: none;
}
.cm-tabs-content {
	padding: 15px 0;
}
.tab-list-title {
	margin: 20px 0 8px -2px;
	padding-bottom: 1px;
	font-weight: normal;
	font-size: 138%;
}
/* /Tabs */

/* Category page */
.subcategories {
	float: left;
	float: left;
	margin: 0 0 15px 0;
	padding: 1px 25px 0 15px;
	line-height: 17px;
}
.subcategories ul {
	line-height: 18px;
}
.subcategories p {
	margin: 0 0 1px 0;
	padding: 0;
}
.jcarousel-container .product-container .product-title {
	font-size: 100%;
}
.jcarousel-container .product-image {
	padding-top: 15px;
}
.product-container .product-title {
	font-size: 130%;
}
.product-details-title {
	padding: 1px;
	font-weight: bold;
}
div.product-details-title {
	margin-top: 15px;
}
td div.product-details-title {
	margin-top: 0;
}
.sku {
	padding: 0;
	font-size: 77%;
}
.more-info {
	text-align: center;
	font-size: 77%;
}
.price, .sub-price, .cart-price, .list-price {
	font-size: 100%;
}
p.price {
	margin: 6px 0;
}
/* Category page */

.product-coming-soon {
	max-width: 150px;
}

/* Checkout pages */
table.product-list td {
	padding: 7px 5px;
}
table.product-list p, table.product-list .product-list-field {
	margin: 3px 0;
}
table.product-list .product-list-field {
	padding-left: 0;
}
table.product-list .product-list-field label {
	margin-right: 10px;
	margin-left: 0;
	width: auto;
}
.affiliate-code {
	margin: 3px;
	margin-right: 10px;
	padding: 3px;
}
.field-name {
	white-space: nowrap;
	font-weight: bold;
	font-size: 85%;
}
.compare-table td {
	padding: 3px 8px;
}
.compare-table .first-cell {
	white-space: nowrap;
}
table label {
	width: auto;
	font-weight: normal;
}
/* Checkout pages */

/* jCarusel */
.jcarousel-container {
	position: relative;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.jcarousel-clip {
	position: relative;
	overflow: hidden;
}
.jcarousel-list {
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.jcarousel-list li, .jcarousel-item {
	float: left;
	list-style: none;
}
/* /jCarusel */
.item-image {
	float: left;
	margin-right: 10px;
}
.item-description {
	display: table;
}
/* Ads */
.ad-container {	/* to crop a large image */
	overflow: hidden;
	margin: 1px auto 11px auto;
	width: 100%;
}
/* /Ads */

/* Common styles */
.product-container {
	padding: 15px 0;
}
.border {
	margin-bottom: 12px;
}
.no-items {
	padding: 60px 20px;
	text-align: center;
}
.hidden {
	display: none;
}
.strong {
	font-weight: bold;
}
.italic {
	font-style: italic;
}
.lowercase {
	text-transform: lowercase;
}
.uppercase {
	text-transform: uppercase;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}
.center {
	text-align: center;
}
.center-block {
	margin: 0 auto;
}
.justify {
	text-align: justify;
}
.scroll-x {
	overflow-x: auto;
	overflow-y: hidden;
	padding-bottom: 3px;
	width: 100%;
	height: 100%;
}
.no-margin {
	margin: 0 !important;
}
.inline {
	display: inline;
}
.block {
	display: block;
}
.dashed, a.dashed {
	border-bottom: 1px dashed #000000;
	text-decoration: none;
}
a.dashed {
	border-bottom-color: #0042b2;
}
a.dashed:hover {
	border-bottom: 1px dashed transparent;
}
.no-padding {
	padding: 0 !important;
}
.no-margin {
	margin: 0 !important;
}
.margin-top {
	margin-top: 10px;
}
.margin-bottom {
	margin-bottom: 10px;
}
.fixed-layout {
	table-layout: fixed;
}
.overflow-hidden {
	overflow: hidden;
}
.width50 {
	width: 50%;
}
.text-arrow {
	font-size: 14px;
	line-height: 10px;
}
.icon-delete-small {
	display: inline-block;
	margin-top: 2px;
	width: 12px;
	height: 12px;
	background: url(images/icons/icon_delete_small.png) 0 2px no-repeat;
}
.icon-delete-small:hover {
	background-position: 0 -18px;
}
.icon-delete-big {
	display: inline-block;
	width: 16px;
	height: 17px;
	background: url(images/icons/icon_delete_big.png) 0 -1px no-repeat;
}
.icon-delete-big:hover {
	background-position: 0 -31px;
}
/* /Common styles */

/* Footer styles */
.footer {
	min-height: 70px;
	background-color: #f2f2f2;
	font-size: 95%;
}
.footer-menu {
	margin-top: 30px;
	padding-bottom: 20px;
}
.footer-menu ul {
	margin-top: 10px;
	line-height: 140%;
}
.footer-menu p {
	padding: 0;
}
.footer-menu p span {
	font-size: 140%;
}
p.bottom-copyright {
	margin-top: 19px;
}
.social-links {
	margin-top: 20px;
}
.social-link {
	display: inline-block;
	margin: 4px 0;
	padding: 3px 0;
}
.payment-icons {
	margin: 15px 0;
}
.payment-icon {
	display: inline-block;
	width: 51px;
	height: 32px;
	margin-left: 10px;
	background-image: url(images/icons/checkout-sprite-32px.png);
	background-repeat: no-repeat;
}
.payment-icon.twoco {
	background-position: 0 0;
}
.payment-icon.paypal {
	background-position: 0 -32px;
}
.payment-icon.google {
	background-position: 0 -64px;
}
.payment-icon.mastercard {
	background-position: 0 -96px;
}
.payment-icon.visa {
	background-position: 0 -128px;
}
/* /Footer styles */

/* Search field */
.search-magnifier {
	position: relative;
	top: -24px;
	right: 10px;
	width: 19px;
	height: 19px;
	border: none;
	cursor: pointer;
}
html .search-input {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 8px 25px 6px 15px;
	width: 100%;
	height: 31px;
	min-height: auto;
	border: 1px solid #e0e0e0;
}
.search-block {
	text-align: right;
}
/* /Search field */

/* Top styles */
.menu li {
	padding: 0;
}
.logo-container {
	position: relative;
	min-height: 102px;
}
.logo-container .logo {
	display: inline-block;
	margin-top: 32px;
	text-decoration: none;
}
.logo-container .logo.vertical-middle {
	visibility: hidden;
}
.helper-block {
	display: none;
}
/* /Top styles */

/* Tools */
.popup-tools {
	position: absolute;
	z-index: 100;
	border: 1px solid #b3b3b3;
	background-color: #fff;
}
.popup-tools .input-text {
	margin: 0 3px 4px;
	width: 220px;
	background-color: #fff;
}
.popup-tools ul li {
	white-space: nowrap;
}
.popup-tools ul li a, .popup-tools ul li a:visited, .popup-tools ul li a:hover, .popup-tools ul li a:active {
	padding: 2px 0;
	background-position: left 0;
	background-repeat: no-repeat;
	color: #000;
	text-decoration: none;
	text-shadow: none;
}
.popup-tools ul li a:hover {
	text-decoration: none;
}
/* /Tools */

/* Dropdown box styles */
.dropdown-box {
	position: relative;
	display: inline-block;
	text-align: right;
}
.cm-popup-title {
	display: inline-block;
	padding: 7px;
}
.cm-popup-title a {
	display: inline-block;
	line-height: 16px;
}
.cm-popup-title:hover {
	border: 1px solid #e0e0e0; 
	background-color:#fff;
}
.cm-popup-title-on, .cm-popup-title-on:hover {
	position: relative;
	z-index: 500;
	border: 1px solid #b3b3b3;
	border-bottom-color: transparent; 
	background-color: #fff;
}
.cm-popup-title:hover, .cm-popup-title-on, .cm-popup-title-on:hover {
	margin-right: -1px;
	padding: 6px 7px 6px 6px;
}
.cm-popup-title-on, .cm-popup-title-on:hover {
 	background-position: right -71px;
 }
.cm-popup-title-on, .cm-popup-title-on:hover {
	padding-bottom: 6px;
}
.view-cart-button {
	float: left;
}
.popup-content {
	position: absolute;
	right: 0;
	z-index: 500;
	margin-top: -1px;
	margin-right: -1px;
	padding: 10px 0 0 0;
	min-width: 218px;
	border: 1px solid #b3b3b3; 
	background: #fff;
	text-align: left;
}
#ci_top_wrapper .popup-content {
	z-index: 600;
}
.popup-content ul.account-info li {
	padding:0;
}
.popup-content ul.account-info li.user-name {
	margin: 4px 20px 10px;
	padding-bottom: 13px;
	border-bottom:1px dotted #bfbfbf;
}
.popup-content ul.account-info li a {
	display: block;
	padding: 8px 10px 8px 20px;
}
.popup-content ul.account-info li a:hover, ul.cm-select-list li:hover, .cm-dropdown-content li:hover {
	background-color: #e5e5e5;
	color:#333;
	text-decoration: none;
}
.popup-content .updates-wrapper {
	margin: 10px 20px 12px;	
}
.popup-content .updates-wrapper .form-field {
	margin:0;
}
p.text-track {
	padding: 0 0 3px;
	color:#404040;
	font-weight: bold;
}
.dropdown-box .buttons-container {
	padding: 15px 20px;
}
/* Dropdown box styles */

/* Cart box styles */
.minicart-separator td {
	border-bottom: 1px dotted #ddd;
}
.minicart-table td {
	padding: 10px 5px;
	vertical-align: top;
}
.minicart-table tr .icon-delete-small {
	visibility: hidden;
}
.minicart-table tr:hover .icon-delete-small {
	visibility: visible;
}
.minicart-table .minicart-tools {
	padding: 9px 0;
}
.minicart-table tr:last-child td {
	border-bottom: none;
}
.cm-popup-box .cart-items {
	padding: 10px;
	width: 320px;
	max-height: 320px;
	overflow: auto;
}
/* /Cart box styles */

/* Text links */
ul.text-links.text-links-inline li.level-0 {
	position: relative;
	display: inline;
	padding-right: 10px;
}
/* /Text links */

/* Common sidebox style */
.sidebox-wrapper {
	margin-bottom: 15px;
	word-wrap: break-word;
}
.sidebox-title {
	padding: 11px 12px 9px;
	background-color: #b0b0b0;
}
.sidebox-title span, .sidebox-title a {
	color: #fff;
	text-decoration: none;
	text-transform: none;
	font-weight: bold;
	font-size: 90%;
}
.sidebox-wrapper .sidebox-body {
	padding: 12px;
	border: 1px solid #b8b8b8;
}
/* /Common sidebox style */

/* Important sidebox style */
.sidebox-important-wrapper {
	margin-bottom: 15px;
}
.sidebox-important-wrapper .sidebox-title {
	background-color: #404040;
}
.sidebox-important-wrapper .sidebox-body {
	background-color: #f5f5f5;
}
/* /Important sidebox style */

/* Special sidebox style */
.subscribe-block .subscribe-notice {
	margin-top: 10px;
	color: #8c8c8c;
	font-size: 90%;
	line-height: 150%;
}
/*  /Special sidebox style */

/* Tables */
/* Common table */
.table {
	margin-top: 30px;
	border: 1px solid #ebebeb;
	border-width: 1px 0px 1px 1px;
	border-bottom: none;
}
.table th {
	padding: 10px;
	border-right: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	text-align: left;
	white-space: nowrap;
	font-weight: bold;
	background-color: #eee;
}
.table th.right {
	text-align: right;
}
.table th.left {
	text-align: left;
}
.table tr, .table .table tr {
	background-color: #fff;
}
.table table tr {
	background-color: transparent;
}
.table td, .table .table td {
	padding: 13px 10px;
	border-right: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
}
.table .table-footer td {
	margin: 0;
	padding: 0;
	height: 5px;
	font-size: 38%;
}
.category-rows .table {
	margin-top: -1px;
}
table.qty-discounts {
	padding: 0;
	border: 1px solid #ebebeb;
}
table.qty-discounts th, table.qty-discounts td {
	border: 0 none;
}
/* /Common table */
.categories-picker table td {
	padding: 0;
	border: none;
}
.categories-picker table img {
	padding: 3px;
}
.categories-picker .radio {
	margin: 0;
}
.tree-space {
	display: inline-block;
	width: 20px;
}
/* /Tables */

/* Mainbox */
.mainbox-container {
	margin: 0 0 50px;
}
.mainbox-title {
	margin: 0;
	padding: 2px 0 15px 0;
}
.mainbox-title span {
	font: normal 200% Arial, Helvetica, sans-serif;
}
.mainbox-title .secure-page-title {
	font-size: 100%;
}
.mainbox-title span.float-right {
	display: block;
	padding-top: 12px;
	font-weight: normal;
	font-size: 50%;
}
/* /Mainbox */

/* Mainbox2 */
.mainbox2-title {
	padding: 0 0 5px 7px;
}
.mainbox2-title span {
	color: #2d2e2e;
	font: bold 169% Arial, Helvetica, sans-serif;
}
.mainbox2-body {
	padding: 10px 20px 20px 20px;
}
.mainbox2-bottom, .mainbox2-bottom span {
	display: none;
}
/* /Mainbox2 */

.subheaders-group {
	margin: 0 15px 21px 15px;
}
.subheader, .subheader-first-item {
	padding: 7px 0 4px 0;
	font-size: 145%;
}
.title-extra {
	float: right;
	margin-top: -1px;
	text-align: right;
}
.title-extra .checkbox {
	margin-right: 3px;
}
.title-extra a, .title-extra a:visited, .title-extra a:hover, .title-extra a:active {
	text-decoration: none;
	text-transform: lowercase;
	font-weight: normal;
}
.title-extra a:hover {
	text-decoration: underline;
}

/* Color mainbox */
.mainbox-cart-title {
	padding: 8px 8px 7px 13px;
}
.mainbox-cart-body {
	padding: 0;
	overflow-x: auto;
}
.cart-buttons {
	margin-bottom: 5px;
	padding: 4px 4px 4px 8px;
}
/* /Color mainbox */

.updates-wrapper {
	margin: 10px 0;
	padding: 15px 0 10px;
	border-top: 1px dotted #ccc;
}
/* Bottom styles */
.footer-top-helper, .footer-bottom-helper {
	display: none;
}
.bottom-search {
	padding: 8px 0 15px 0;
}
p.bottom-copyright.mini {
	font-size: 69%;
}
/* /Bottom styles */

/* Product list view styles */
.product-spacer {
	width: 9px;
}
.product-image, .feature-image {
	float: left;
	margin: 0 25px 10px 0;
	text-align: center;
}
td.product-image {
	float: none;
	margin: 0;

}
td.product-image img {
	margin: 0 10px;
}
td.product-description {
	display: table-cell;
	padding-right: 10px;
}
.product-bulk-add-wrapper {
	margin: 3px 0;
	padding-right: 3px;
}
.discount-label {
	float: left;
	margin: 4px 0 0 20px;
}
.discount-label em {
	display: block;
	white-space: nowrap;
	font-weight: bold;
	font-size: 85%;
}
.product-variant-image {
	padding: 10px 0;
}
.product-list-price strike {
	padding-right: 8px;
}
/* /Product list view styles */

/* Pagination styles */
.pagination {
	margin: 7px 0 12px;
	padding: 12px 0 12px 0;
}
.pagination a, .pagination a:visited, .pagination a:hover, .pagination a:active, .pagination-selected-page {
	padding: 1px 3px;
}
.pagination-helper-container {
	background-color: #f0f0f0;
}
.pagination-bottom {
	border-top: 1px solid #dedede;
}
/* /Pagination styles */

.info-field-title {
	padding: 12px 10px;
}
.info-field-title a, .info-field-title span, .info-field-title em {
	font-weight: normal;
	font-size: 115%;
}
.info-field-body {
	overflow-x: auto;
	overflow-y: hidden;
	margin-bottom: 15px;
	padding: 10px;
}
.info-field, .info-field label {
	margin: 0;
	padding: 0;
	font-weight: bold;
	line-height: 18px;
}
.info-field label {
	float: left;
	width: 100px;
	font: normal 85% verdana, geneva, arial, helvetica, sans-serif;
}

div.delim {
	margin: 0;
	padding: 0;
	height: 7px;
	font-size: 7px;
	line-height: 7px;
}

/* Plain/dynamic menu */
ul.menu-root-categories {
	padding: 4px 3px 0 3px;
}
ul.menu-root-categories li {
	padding: 0;
}
.menu-root-categories li a {
	display: block;
	padding: 2px 5px 3px 3px;
	background: url(images/icons/category_collapsed.gif) no-repeat right 5px;
	font-weight: bold;
}
.menu-root-categories li a:hover {
	background-image: url(images/icons/category_expanded.gif);
}
.menu-root-categories.tree li a {
	background-image: none;
}
.menu-subcategories a.active, ul.menu-subcategories a.active:visited, ul.menu-subcategories a.active:hover, ul.menu-subcategories a.active:active, .menu-root-categories a.active, ul.menu-root-categories a.active:visited, ul.menu-root-categories a.active:hover, ul.menu-root-categories a.active:active {
	color: #000;
	text-decoration: none;
}
.sitemap-list {
	padding-top: 10px;
}
ul.sitemap-list li {
	padding-left: 10px;
}
/* /Plain/dynamic menu */

/* One page checkout styles */
.checkout-steps .form-field {
	margin-top: 0;
	margin-bottom: 17px;
}
.step-body-active .form-field .input-text {
	width: 100%;
}
.checkout-steps .subheader {
	padding-bottom: 12px;
}
.step-container, .step-container-active {
	margin: 0 0 5px 0;
}
.step-title, .step-title-active, .step-title-complete {
	padding: 10px 15px 9px 14px;
}
.step-title, .step-title-active, .step-title-complete {
	border: 1px solid #e2e2e2;
}
.step-body .shipping-rates, .step-body-active .shipping-rates {
	padding-top: 14px;
}
.step-body-active {
	padding: 20px 0 0 0;
}
.step-title-active .title, .step-title-active a.title:hover, .step-title-complete a.title, .step-title-complete a.title:hover {
	color: #2d2d2d;
	text-decoration: none;
	font: bold 140%/135% Arial;
}
.step-title-active {
	background-color: #ededed;
}
.step-title-active span.float-left, .step-title-complete span.float-left, .step-title span.float-left {
	margin-right: 10px;
	padding: 0 3px;
	width: 17px;
	height: 23px;
	text-align: center;
	font: bold 125%/150% Arial;
}
.step-title span.title, .step-title a.title {
	font: bold 140%/135% Arial;
}
.checkout-textarea {
	width: 80%;
}
.coupon-code-container .error-message {
	float: right;
}
.coupon-code-container .arrow, .checkout-totals .arrow {
	float: right;
	margin-right: 15%;
}
.coupon-code-container .message, .checkout-totals  .message {
	clear: right;
}
.address-switch {
	margin: 10px 0 13px 0;
	padding: 15px 0 15px 21px;
	background-color: #f7f7f7;
}
.address-switch .float-right .radio {
	margin-left: 6px;
	vertical-align: -1px;
}
.address-switch .float-right label {
	padding: 0 22px 0 0;
}
.login-form .checkout-login-form {
	margin: 0 20px;
}
.login-form {
	float: left;
	padding-right: 20px;
	width: 300px;
}
.checkout-register {
	float: left;
	margin: 0 0 0 20px;
	width: 300px;
}
.checkout-register .form-field {
	padding: 0 20px;
}
.checkout-register .register-content {
	padding-left: 20px;
}
#step_one_register .text-button {
	margin-left: 15px;
	background: none;
}
#step_one_register .checkout-inside-block {
	padding-bottom: 10px;
}
ul.register-methods {
	margin: 0px;
	padding: 0px;
}
.register-methods li {
	margin: 0px;
	padding: 12px 0px 15px 10px;
}
.register-methods li.one {
	margin: 0px;
	padding: 15px 0px 25px 10px;
}
.register-methods li input {
	float: left;
	margin-top: 2px;
	margin-left: -10px;
}
.method-title {
	display: block;
	padding-bottom: 4px;
	color: #404040;
}
.method-hint {
	display: inline-block;
	padding-left: 10px;
	color: #7f7f7f;
	font-size: 95%; 
}
.step-body-active .coupon-code-container .form-field .input-text {
	width: 227px;
}
.step-body-active .coupon-code-container .form-field {
	padding: 18px 0;
}
.cvv2 {
	display: inline-block;
	font: normal 100%/115% Arial;
	cursor: pointer;
}
.cvv2:hover {
	position: relative;
	border-bottom: 1px dotted #08c;
	text-decoration: none;
}
.cvv2-note {
	display: none;
	padding: 15px 5px;
	width: 340px;
	border: 1px solid #B3B3B3;
	text-align: left;
}
.cvv2:hover > .cvv2-note {
	position: absolute;
	bottom: 0px;
	left: 100%;
	display: block;
}
.cards-images {
	float: left;
	padding: 0 12px;
	width: 54px;
}
.cards-description {
	float: left;
	width: 239px;
}
.card-info.ax {
	margin-top: 30px;
}
.checkout-buttons {
	margin-top: 20px;
 	margin-bottom: 23px;
	padding: 17px 20px;
	border-top: 1px solid #ddd;
	background: #f5f5f5;
}
/* Checkout sidebox */
.checkout-sidebox-title {
	padding: 11px 10px 9px;
	border-bottom: 1px solid #ebebeb;
	background-color: #fafafa;
	color: #333;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 90%;
}
.checkout-summary table {
	margin-top: 7px;
	width: 100%;
	border-collapse: collapse;
}
.checkout-summary table td {
	padding: 3px 12px 10px;
	color: #4d4d4d;
}
.checkout-summary table tbody.total th {
	padding: 13px 12px;
	text-align: left;
}
.checkout-summary table tbody.total .total-sum {
	float: right;
	display: inline-block;
}
.shipping-adress li {
	clear: left;
	float: none;
}
.shipping-adress li.b-firstname,
.shipping-adress li.b-lastname,
.shipping-adress li.b-address,
.shipping-adress li.b-city,
.shipping-adress li.b-country,
.shipping-adress li.b-state,
.shipping-adress li.b-zipcode,
.shipping-adress li.s-firstname,
.shipping-adress li.s-lastname,
.shipping-adress li.s-address,
.shipping-adress li.s-city,
.shipping-adress li.s-country,
.shipping-adress li.s-state,
.shipping-adress li.s-zipcode {
	float: left;
	clear: none;
	padding-right: 5px;
}
.b-state, .s-state {
	clear: left;
}
.b-city, .s-city {
	clear: left;
}
.b-phone, .s-phone {
	clear: both;
}
.state select {
	margin: 0;
	width: 100%;
}
.sidebox-wrapper.order-summary {
	margin-top: 63px;
}
.sidebox-wrapper.order-summary .sidebox-body {
	padding: 3px 0 0;
}
.sidebox-wrapper.order-summary .reward-points {
	margin-top: 12px;
}
.order-products .edit-products {
	padding: 14px 12px;
	border-radius: 0 0 5px 5px;
	background-color: #f9f9f9;		
}
.order-products .product-name {
	display: inline-block;
	margin: 2px 0 5px;
	max-width: 238px;
}
.order-products .product-price {
	display: block;
}
.order-products .product-options {
	display: inline-block;
	padding: 6px 0 0;
}
.order-products .delete {
	float: right;
	visibility: hidden;
}
.order-products .sidebox-body {
	padding: 0;
}
.order-product-list {
	padding: 12px;
}
.order-products .order-product-list li {
	padding: 14px 0;
	border-bottom: 1px dotted #ccc;
}
.order-products .order-product-list li:last-child {
	padding-bottom: 4px;
	border: none;
}
.order-products .order-product-list li:first-child {
	padding-top: 0;
}
.order-products .order-product-list li:hover .delete {
	visibility: visible;
}
.coupon-code-container {
	margin: 10px 0;
	padding: 6px 0;
	border: 1px dotted #7c8e8e;
	border-width: 1px 0;
}
/* /Checkout sidebox */
/* /One page checkout styles */

/* Estimation form */
.estimation-box {
	padding: 0 15px;
}
.estimation-box h2 {
	padding: 1px 0 0;
}
.estimation-box .form-field label {
	width: 105px;
}
.estimation-box select {
	max-width: 100%;
}
.estimation-box hr {
	margin: 15px 0;
}
.box {
	padding: 5px 7px;
}

/* Block "Product filters" */
.product-filters ul {
	margin: 0;
}
.product-filters li {
	margin: 5px 0;
	font-weight: bold;
}
.product-filters li ul li {
	margin: 4px 0 4px 0;
}
.product-filters a.filter-delete {
	margin-left: -14px; 
	padding-right: 2px;
}
.product-filters li p {
	margin: 0;
}
.product-filters .details, .product-filters a {
	font-weight: normal;
}
.filters-tools {
	padding: 3px 3px 8px 0;
}
.reset-filters, .reset-filters:visited, .reset-filters:hover, .reset-filters:active {
	padding-left: 15px;
}
/* /Block "Product filters" */

/* Captcha */
.captcha-input-text {
	margin: 0;
	width: 120px;
}
.login-popup .captcha-input-text {
	width: 140px;
}
.step-body-active .captcha-input-text {
	width: 136px;
}
/* /Captcha */

/* Quick links */
/** top **/
.quick-links-top {
	margin-top: 7px;
	margin-right: 5px;
}
/** /top **/
/** bottom **/
.footer .quick-links {
	float: none;
	margin-bottom: 1px;
	padding-right: 0;
	text-align: center;
}
/** /bottom **/
/* /Quick links */

/* Select languages */
.select-link, .select-link:hover {
	margin-right: 5px;
	padding-right: 23px;
	cursor: pointer;
}
.icons {
	display: inline-block;
	margin: 0 6px;
	padding: 0;
	vertical-align: -4px;
	cursor: pointer;
}
.select-lang {
	float: left;
	padding-bottom: 10px;
}
.select-wrap, .quick-links-wrap {
	float: right;
	margin-top: 7px;
	padding-left: 3px;
	white-space: nowrap;
}
.select-popup {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 800;
	padding: 4px 0;
	background-color: #fff;
	border: 1px solid #b3b3b3;
}
.close-icon {
	position: absolute;
	right: 3px;
	cursor: pointer;
}
ul.cm-select-list {
	display: block;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ul.cm-select-list li a, ul.cm-select-list li a:hover {
	display: block;
	padding: 2px 10px;
	white-space: nowrap;
	cursor: pointer;
}
.cm-select-list a.item-link, .cm-select-list a.item-link:visited, .cm-select-list a.item-link:hover, .cm-select-list a.item-link:active {
	padding-left: 32px;
	min-height: 15px;
	background-position: 10px 2px;
	background-repeat: no-repeat;
}
ul.cm-select-list li a {
	white-space: nowrap;
}
.cm-select-list a, .cm-select-list a:visited, .cm-select-list a:hover, .cm-select-list a:active {
	padding: 0 2px;
	background-position: left 0;
	background-repeat: no-repeat;
	text-decoration: none;
	font-family: Arial;
}
.cm-select-list a.active {
	font-weight: bold;
}
.select-languages {
	margin-bottom: 10px;
	text-align: right;
}
.localization {
	margin-top: 0;
	padding: 6px 9px 7px 12px;
}
/* /Select languages */

/* Checkout totals */
.checkout-totals {
	padding: 17px 20px;
	border: 1px solid #ebebeb;
	border-top: none;
}
#applied_promotions .wysiwyg-content {
	text-align: left;
}
/* Statistic list */
.statistic-list-wrap {
	width: 100%;
	background: #f9f9f9 url(images/gray_grad_bg.png) 0 -1px repeat-x;
}
ul.statistic-list {
	float: right;
	padding-top: 11px;
}
ul.statistic-list li {
	clear: both;
	overflow: hidden;
	padding: 0 0 17px 0;
	white-space: nowrap;
}
ul.statistic-list li span.checkout-item-title {
	position: relative;
	float: left;
	margin-right: 20px;
	width: 220px;
	text-align: right;
	white-space: normal;
}
ul.statistic-list li span.checkout-item-value {
	display: inline-block;
	width: 100px;
	text-align: right;
}
ul.statistic-list li.group-title {
	padding-bottom: 5px;
	font-weight: bold;
}
ul.statistic-list li.group-title .discount-price {
	font-weight: normal;
}
ul.statistic-list .total-title {
	margin-right: 20px;
}
ul.statistic-list li .delete-icon {
	position: absolute;
	top: -1px;
	right: -17px;
}
ul.statistic-list li span strong {
	float: none;
}
ul.statistic-list li strong {
	text-align: left;
}
ul.statistic-list li strong span {
	float: none;
	margin: 0;
	width: auto;
	text-align: left;
}
ul.statistic-list li.total {
	padding: 9px 0 0 0;
	font: bold 138% Arial;
}
ul.statistic-list li.total strong {
	float: left;
	margin-right: 20px;
	width: 163px;
	text-align: right;
}
/* /Statistic list */
/* /Checkout totals */

/* File uploader */
.upload-file-section {
	overflow: hidden;
}
.fileuploader .select-field label {
	margin-right: 28px;
}
.fileuploader {
	float: left;
}
.fileuploader.cm-failed-field a {
	color: #CC0000;
	font-weight: bold;
}
.fileuploader.cm-failed-field {
	border: none;
	background-color: transparent;
}
.fileuploader .filename-link {
	padding-left: 4px;
	position: relative;
	top: 2px;
}
div.upload-file-local {
	position: relative; 
	float: left;
	display: block; 
	overflow: hidden;
	overflow: hidden;
	cursor: pointer;
}
.upload-file-local input {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	height: 300px;
	border: 0;
	font-size: 300px !important;
	opacity: 0;
	cursor: pointer;
	-moz-opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
}
.upload-file-links a.active {
	font-weight: bold;
}
.attach-images-alt label {
	float: none;
	display: block;
	margin: 0;
	padding: 0 0 3px 0;
	width: auto;
}
/* /File uploader */

/* Cart items */
.quantity {
	padding: 0 0 10px 0;
}
.quantity .input-text {
	margin: 0 4px 0 1px;
	padding: 1px;
	width: 31px;
	height: 13px;
}
.product-description a.cm-combo-on, .product-description a.cm-combo-off {
	padding-right: 20px;
}
.product-description .product-options {
	padding: 2px 0 6px 0;
	font-size: 100%;
}
.product-options .table-fixed {
	width: 450px;
	max-width: 450px;
}
.product-options .table-fixed .product {
	width: 70px;
}
.product-options .table-fixed .product-list-field {
	padding-left: 0;
}
.product-options .table-fixed .product-list-field label {
	margin-left: 0;
}
.without-image {
	padding:0 0 0 35px;
}
.payment-methods-wrap {
	float: right;
	margin: 30px 0 0;
	background: url(images/cart_payments_bg.png) 0 0 repeat-x;
	text-align: center;
}
.payment-methods {
	background: url(images/cart_payments_bg.png) 0 -250px no-repeat;
}
.payment-methods table {
	background: url(images/cart_payments_bg.png) right -500px no-repeat;
}
.payment-methods table td {
	padding: 32px 10px 0;
}
.payment-methods table td > br {
	display: none;
}
.payment-metgods-or {
	display: inline-block;
	margin: 0 auto;
	margin-bottom: -34px;
	padding: 10px;
	color: #737373;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 85%;
}
/* /Cart items */

/* Classic checkout */
/* Progress bar styles */
.pb-container {
	padding: 10px 0 0 0;
}
.pb-container a {
	display: inline-block;
}
.pb-container em {
	display: inline-block;
	padding: 0 9px;
	text-decoration: none;
	font: bold 115% Arial, Helvetica, sans-serif;
	line-height: 26px;
}
.pb-container a {
	font: 100% Arial, Helvetica, sans-serif;
}
.pb-container span.active {
	font: 100% Arial, Helvetica, sans-serif;
}
.pb-container span.active em {
	font-size: 107%;
}
.pb-container img {
	margin: 0 1px;
	vertical-align: -1px;
}
/* /Progress bar styles */
.cc-infobox {
	margin: 20px 0 13px 0;
}
/* /Classic checkout */

/* Log in/out styles */
#sign_io {
	position: relative;
	margin-top: 10px;
	padding: 0 0 0 15px;
}
#sign_io > a, #sign_io > a:visited, #sign_io > a:hover, #sign_io > a:active {
	padding-bottom: 1px;
	border-bottom: 1px dotted #0088cc;
	text-decoration: none;
}
#sign_io a.text-button, #sign_io a.text-button:visited, #sign_io a.text-button:hover, #sign_io a.text-button:active {
	margin: 0;
	padding: 0 8px 0 2px;
}
.login-popup {
	width: 100%;
	max-width: 310px;
	min-width: 295px;
}
.login-popup .cm-failed-field {
    border: 1px dashed #cc0000;
	background-color: #ffdddd;
}
.login-popup .error-message .arrow {
	border-color: transparent transparent #555;
}
.login-popup .message {
	background-color: #555;
}
.login-popup .message p, .login-popup .error-message p {
	color: #fff;
}
.login-popup .form-field {
	padding: 0px;
}
.login-popup .input-text {
	width: 270px;
	font-size: 17px;
}
.login-popup .captcha {
	margin: 20px 0 0;
}
.social-sign-in {
	padding: 10px 0 12px;
	border-bottom: 1px dotted #cdcdcd;
}
.social-sign-in span {
	float: left;
	display: block;
	padding-right: 7px;
}
.social-sign-in-icons, .social-sign-in-icons li {
	display: inline-block;
	margin: 0 2px;
	padding: 0;
}
.login-popup {
	padding: 9px 16px;
	border: 1px solid #595959;
	background-color: #fcfcfc;
}
.login-popup p {
	line-height: 14px;
}
.login-popup .header {
	margin: 0 0 8px -4px;
	font: bold 169% Arial, Helvetica, sans-serif;
}
.login-popup .error-text {
	margin-bottom: 11px;
}
.login-popup .form-field .input-text {
	clear: both;
	padding: 4px 3px;
	width: 100%;
}
.login-popup .clear, .login .clear {
	padding: 6px 0;
}
.login-popup .clear .float-left {
	padding-top: 4px;
}
.login-popup .clear .checkbox {
	margin: 2px 0 0 1px;
}
.login-popup .clear label {
	font: 100% Arial, Helvetica, sans-serif;
}
.login {
	margin: 0 auto;
	width: 290px;
}
.login .clear, .login-form .clear {
	padding: 14px 0 0 0;
}
/* /Log in/out styles */

/* Breadcrumbs */
.breadcrumbs {
	margin-bottom: 17px;
	padding: 12px 0;
	border-bottom: 1px dotted #ccc;
	color: #999;
	font-size: 85%;
}
.breadcrumbs a, .breadcrumbs span {
	float: left;
	display: inline-block;
	line-height: 100%;
}
.bc-arrow {
	float: left;
	margin: 0 6px 0;
	padding: 4px 0;
	width: 3px;
	height: 5px;
}
/* /Breadcrumbs */

/* Advanced filter  */
.table-filters th {
	padding: 10px 0 3px 0;
	font-weight: bold;
}
.table-filters td {
	padding: 0 12px 8px 0;
}
.table-filters .scroll-y {
	overflow-y: auto;
	margin-bottom: 8px;
	padding: 0 0 0 4px;
	height: 127px;
	background-color: #fff;
}
.table-filters td .select-field {
	margin-top: 0;
	padding: 0 0 6px 0;
}
.table-filters .scroll-y .select-field {
	margin: 4px 0 0 0;
}
table.table-filters label {
	font-size: 90%;
}
.table-filters .delim {
	background-image: none;
}
.table-filters .delim td {
	border-bottom: 1px solid #ebebeb;
}
/* /Advanced filter  */

/* Price slider */
.price-slider {
	margin: 10px 0 25px;
}
.price-slider ul {
	position: absolute;
	top: -2px;
	left: 0;
	margin-left: -1px;
	width: 100%;
	height: 6px;
	color: #666;
	white-space: nowrap;
	font-size: 10px;
}
.price-slider ul li {
	position: absolute;
	top: 0;
	width: 1px;
	height: 7px;
	background: #bfbfbf;
}
.price-slider ul li i {
	position: absolute;
	top: 16px;
	font-style: normal;
}
.price-slider ul li b {
	position: relative;
	left: -15px;
	display: block;
	width: 30px;
	text-align: center;
	font-weight: normal;
	cursor: pointer;
}
.price-slider .input-text {
	margin: 0;
	width: 75px;
}
.cm-range-slider.ui-slider.ui-slider-horizontal {
	margin: 15px 12px;
}
/* /Price slider*/

/* Placing order */
.order-status {
	margin: 5% auto;
	padding: 15px 15px 15px 40px;
	width: 920px;
}
body.clear-body {
	padding: 13px 12px;
}
/* /Placing order */

/* Bug report panel */
.bug-report {
	position: fixed;
	right: 0;
	bottom: 0;
	padding: 5px 0 0 5px;
	height: 26px;
	border: 1px solid #acacac;
	border-width: 1px 1px 0 0;
	background-color: #ff9600;
	opacity: 0.85;
	-moz-opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=85)";
}
/* Bug report panel */

/* Page 404 */
.exception-body {
	padding: 0 0 0 35px;
}
.exception-body h1 {
	float: left;
}
.exception-body h2 {
	clear: both;
}
.exception-content {
	padding-left: 2px;
}
.exception-body .float-right {
	padding: 2px 10% 0 10%;
}
.exception-content p {
	margin: 0 0 16px 0;
}
.exception-content .exception-menu {
	margin: 7px 0 24px 0;
}
.exception-body hr {
	margin-bottom: 10px;
}
/* /Page 404 */

/* Popup dialog */
.cm-dashed-box {
	border: 1px dashed #909090;
	background-color: transparent;
}
.object-container {
	overflow-x: auto;
	overflow-y: auto;
	padding: 12px;
	font-weight: normal;
}
.ui-widget-overlay {
	z-index: 600;
}
/* /Popup dialog */

/* Quick view dialog */
.quick-view-wrap {
	width: 700px;
	text-align: left;
}
.quick-view-wrap .price .price-num {
	font-size: 150%;
}
.quick-view-wrap .product-info .price-wrap {
	padding: 10px 0 0;
}
.quick-view-wrap .actual-price {
	display: inline-block;
	padding-top: 5px;
}
.quick-view-wrap .list-price strike {
	font-size: 150%;
	padding-right: 10px;
}
.description {
	line-height: 140%;
}
h2.description-title {
	margin-top: 20px;
	font-size: 145%;
}
.ui-dialog .cm-image-wrap a {
	outline: 0;  
}
.quick-view-wrap .left-side {
	float: left;
	margin-right: 20px;
	text-align: center;
}
.quick-view-wrap .product-main-info .image-border {
	margin-right: 0;
}
/* /Quick view dialog */

/* Graph bar */
.graph-border {
	height: 8px;
}
.graph-bg {
	font-size: 8px;
}
/* /Graph bar */

.table-filters .input-text {
	width: 100%;
	max-width: 200px;
}
.cm-template-box {
	display: inline;
	margin: 0;
	padding: 0 !important;
	background: none !important;
}
.subpages-list {
	margin-top: 10px;
}
ul.subpages-list li, .wysiwyg-content ul.subpages-list li {
	padding: 8px 0;
	background-image: none;
	font-style: italic;
}
.subpages-list li .main-info {
	padding-right: 6px;
	font-style: normal;
}
.view-all div {
	text-align: left;
}
.view-all td {
	padding-bottom: 50px;
}
.view-all li {
	padding-bottom: 2px;
}
.multicolumns-list td {
	padding: 15px 0 17px 0;
}
.multicolumns-list table td {
	padding: 0;
}
.multicolumns-list .product-description p, .multicolumns-list .product-description .buttons-container div {
	text-align: center;
	font-size: 115%;
}
.multicolumns-list .product-description p {
	padding-top: 3px;
}
.multicolumns-list .product-description .buttons-container .button-submit-action {
	margin-right: 0;
}
.product-image .quick-view {
	visibility: hidden;
	position: relative;
	z-index: 1;
}
.product-image:hover .quick-view {
	visibility: visible;
}
.quick-view {
	margin: -85px 0 50px;
	height: 35px;
	text-align: center;
}
.product-title-wrap {
	vertical-align:top;
	text-align: center;
}
.multicolumns-list table .product-title-wrap {
	padding: 8px 0 0;
}
#template_text {
	width: 100%;
	height: 350px;
}
.order-info {
	padding-bottom: 10px;
}

/* Skin selector */
.demo-site-panel {
	z-index: 100;
	position: relative;
	padding: 0 10px;
	border-bottom: 1px solid #d1d1d1;
	background-color: #ebebeb;
	background-image: -moz-linear-gradient(top, #f7f7f7, #dedede);
	background-image: -ms-linear-gradient(top, #f7f7f7, #dedede);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f7f7), to(#dedede));
	background-image: -webkit-linear-gradient(top, #f7f7f7, #dedede);
	background-image: -o-linear-gradient(top, #f7f7f7, #dedede);
	background-image: linear-gradient(top, #f7f7f7, #dedede);
	background-repeat: repeat-x;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.6);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.6);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#dedede', GradientType=0);
}
.demo-site-panel li {
	float: left;
	display: inline-block;
	padding: 5px;
}
.demo-site-panel select {
	padding: 2px;
	height: 24px;
	color: #333;
	white-space: nowrap;
	font-size: 100%;
	line-height: 24px;
}
.demo-site-panel .dp-area {
	float: right;
}
.demo-site-panel .dp-title {
	padding-top: 9px;
	padding-right: 20px;
	color: #808080;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
	font-weight: bold;
}
.demo-site-panel .dp-label {
	padding-top: 7px;
	padding-right: 0;
	color: #666;
	line-height: 19px;
}
/* /Skin selector */

.image-border img {
	margin: 3px;
}
.image-border a, .quick-view-wrap a {
	outline: none;
}

/* Product notification */
.product-notification-container {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 700;
	margin: -80px 0 0 -225px;
	padding: 8px;
	width: 450px;
	min-height: 140px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	color: #000;
}
.product-notification h1 {
	margin: 0;
	padding: 13px 20px 10px;
}
.product-notification {
	color: #000;
}
.product-notification .notification-body p {
	text-align: left;
}
.product-notification .notification-body {
	overflow-x: hidden;
	overflow-y: auto;
	padding: 15px 20px;
	max-height: 150px;
	min-height: 72px;
}
.product-notification-product-name {
	display: block;
	margin-bottom: 7px;
	font-weight: bold;
}
.product-notification-container img.cm-notification-close {
	float: none;
	margin: 0;
	padding: 0;
}
.product-notification .notification-body .product-list-field {
	margin-top: 7px;
	padding-left: 0;
}
.product-notification .notification-body .product-notification-image {
	float: left;
	margin-right: 10px;
}
.product-notification-content {
	float:left;
	width: 320px;
}
.product-notification .notification-body .product-list-field div {

}
.product-notification .notification-body .product-list-field label {
	display: none;
	margin: 0;
	padding-top: 0;
}
.product-notification ul ul {
	margin-left: 15px;
	padding-left: 10px;
	border-left: 1px solid #ccc;
}
.product-notification .swf-thumb {
	float: left;
	display: block;
	margin-right: 10px;
}
/* /Product notification */

.description {
	margin: 3px 0 6px 0;
	padding: 0;
	color: #898989;
	font: normal 85% Arial, Helvetica, sans-serif;
}
.cm-tabs-content ul, .wysiwyg-content ul {
	margin-left: 20px;
}
.cm-tabs-content .tabs ul, .wysiwyg-content .tabs ul {
	margin-left: 0;
}

/* Tooltip */
.tooltip {
	z-index: 10000;
	display: none;
	margin-top: 12px;
	padding: 9px;
	max-width: 200px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: url(images/transparent_black_bg_85.png);
	color: #fff;
	text-align: left;
	font: normal 100% Arial, Helvetica, sans-serif;
	-ms-border-radius: 3px;
}
.tooltip p {
	color: #fff;
}
.tooltip-arrow {
	position: absolute;
	top: -11px;
	left: 3px;
	display: block;
	width: 30px;
	height: 12px;
	background: url(images/icons/tooltip_arrow.png) no-repeat;
	background-position: 3px;
}
/* /Tooltip */

/* Product details page */
.product-main-info .jcarousel-skin {
	margin: 30px auto 0;
	border: 0 none;
}
.product-thumbnails {
	margin-top: 30px;
	text-align: center;
}
.product-thumbnails li {
	display: inline;
	padding: 0;
}
.product-thumbnails li a.cm-thumbnails-mini, .product-thumbnails .cm-image-previewer {
	margin: 3px;
}
.jcarousel-prev-horizontal, .jcarousel-next-horizontal, .prev-horizontal, .next-horizontal {
	float: left;
	margin: 0 1px 0 0;
	margin-top: -65px;
	width: 18px;
	height: 36px;
	background-image: url(images/icons/prev_next_btn_sprite.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	cursor: pointer;
}
.jcarousel-next-horizontal, .next-horizontal {
	float: right;
	margin: -65px 0 0 1px;
	background-position: 100% 0;
}
.jcarousel-prev-vertical, .jcarousel-next-vertical, .prev-vertical, .next-vertical {
	margin: 0 1px 0 0;
	width: 36px;
	height: 18px;
	background: url(images/icons/up_btn.png) no-repeat;
	cursor: pointer;
}
.jcarousel-prev-horizontal:hover, .prev-horizontal:hover {
	background-position: 0 -60px;
}
.jcarousel-next-horizontal:hover, .next-horizontal:hover {
	background-position: 100% -60px;	
}
.jcarousel-next-vertical, .next-vertical {
	background-image: url(images/icons/down_btn.png);
}
.product-main-info .jcarousel-clip-horizontal, .product-main-info .jcarousel-container-horizontal {
	margin: 0 auto;
}
.product-info .cm-tabs-content .input-text {
	width: 160px;
}
.product-info .cm-tabs-content .input-textarea {
	width: 200px;
}
.product-main-info .discount-label {
	margin: 30px 0 0 20px;
}
.cm-view-larger-image, .cm-view-larger-image:visited, .cm-view-larger-image:hover, .cm-view-larger-image:active {
	padding: 1px 0 1px 15px;
	font-size: 77%;
}
.product-main-info .button-submit-action.button-wrap-left, .product-main-info .text-button , .product-main-info .text-button:visited, .product-main-info .text-button:hover, .product-main-info .text-button:active {
	margin-right: 4px;
}
.product-main-info  p.sku {
	padding: 5px 0 0 0;
}
.product-options-container {
	padding: 0;
}
.stock-wrap {
	display: inline-block;
	margin: 10px 0 15px;
}
.prices {
	padding-right: 35px;
}
.product-info .buttons-wrapper {
	padding-top: 10px;
}
.product-info .buttons-wrapper div {
	display: inline-block;
	padding-top: 1px;
}
.product-info .buttons-wrapper div.product-list-field {
	margin: -1px 0 0 0;
	padding: 0;
}
.product-info .buttons-wrapper .product-list-field label {
	float: none;
	margin: 0;
	font-size: 100%;
}
.buttons-wrapper .input-text-short {
	width: 19px;
	text-align: center;
}
.options-col .product-list-field {
	padding: 0 0 1px 0;
}
.options-col .product-list-field label {
	float: none;
	clear: none;
	display: block;
	margin: 0;
	padding-bottom: 2px;
}
#content_features .form-field {
	margin: 0;
	overflow: hidden;
}
#content_features .form-field label {
	float: left;
	padding: 12px 10px;
	width: 200px;
	font-weight: normal;
}
#content_features .feature-value {
	float: left;
	padding: 12px 0;
}
#content_features .float-right {
	padding: 12px 10px;
}
#content_features .form-field:nth-child(2n) {
	background-color: #f7f7f7;
}
#content_features .subheader {
	padding-bottom: 15px;
}
.cm-thumbnails-mini {
	margin: 2px 0;
	border: 1px solid #ccc;
}
.option-changer {
	display: inline-block;
	width: 30px;
	height: 30px;
	overflow: hidden;
	position: relative;
	z-index: 0;
	vertical-align: middle;
	padding: 0 !important;
}
.option-changer object {
	position: relative;
	z-index: 0;
}
.option-changer-container {
	display: inline-block;
	width: 30px;
	height: 30px;
	position: relative;
	z-index: 0;
	padding: 0 !important;
}
.option-changer-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	display: block;
	background: #fff;
	cursor: pointer;
	opacity: 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	filter:alpha(opacity=0);
}
.cm-cur-item {
	border-color: #888;
}
.cm-image-wrap .larger-image-wrap {
	visibility: hidden;
	margin: 0;
	padding: 0;	
}
.cm-view-larger-image {
	position: absolute;
	display: block;
	width: 37px;
	height: 60px;
	background: url(images/icons/zoom_icon.png) no-repeat 8px 20px;
	opacity: 0.65;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=65);
	filter:alpha(opacity=65);
	z-index: 1;
}
.cm-view-larger-image:hover {
	opacity: 1;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	filter:alpha(opacity=100);
}
.cm-image-wrap:hover .larger-image-wrap {
	visibility: visible;
}
.qty {
	padding-top: 20px;
	padding-bottom: 5px;
}
.buttons-container .qty {
	float: left;
	padding: 4px 10px 0 0;
}
.qty label {
	float: left;
	padding: 4px 6px 4px 0;
	color: #757575;
}
.qty-discounts-wrap {
	overflow: hidden;
	clear: left;
	padding: 10px 0 20px;
}
.qty-discounts-wrap table {
	margin-top: 0;
}
.product-main-info h1.mainbox-title {
	padding: 0;
	font-size: 200%;
}
.product-info .price-num {
	font-size: 120%;
}
.product-main-info .price-num {
	font-size: 200%;
}
.product-main-info .buttons-container .buttons-container {
	display: inline-block;
	padding-bottom: 30px;
}
.product-main-info .add-buttons-inner-wrap {
	padding: 20px 0;
}
.product-info .price-wrap {
	padding: 15px 0;
}
.actual-price {
	padding: 0;
}
.product-main-info .image-border {
	margin-right: 20px;
	padding: 0px 10px 10px;
	min-height: 100px;
}
.product-main-info {
	margin-bottom: 30px;
}
.product-main-info.product-quick-view {
	margin: 0;
}
.product-info .add-product {
	padding-left: 10px;
}
/* /Product details page */

/* Quantity changer */
.quantity.changer {
	padding: 0 0 5px 0;
}
.changer .cm-increase img {
	padding: 2px 5px 2px 5px;
}
.changer .cm-decrease img {
	padding: 2px 5px 2px 5px;
}
.changer .input-text-short {
	float: left;
	width: 36px;
	text-align: center;
}
.changer label {
	margin-top: 2px;
}
.changer .cm-value-changer {
	float: left;
	display: inline-block;
	width: 55px;
}
.cm-increase {
	float: right;
	display: inline-block;
	margin-bottom: 3px;
	width: 12px;
	height: 12px;
	background: url(images/icons/increase_decrease.png) 0 1px no-repeat;
}
.cm-increase:hover {
	background-position: 0 -29px;
}
.cm-decrease {
	float: right;
	margin-bottom: 3px;
	width: 12px;
	height: 12px;
	background: url(images/icons/increase_decrease.png) 0 -59px no-repeat;
}
.cm-decrease:hover {
	background-position: 0 -89px;
}
/* /Quantity changer */

.product-info {
	overflow: hidden;
}
.product-info .input-text {
	width: auto;
}
#product_notify_email .input-text {
	width: 100%;
}
.prod-info {
	overflow-x: auto;
	overflow-y: hidden;
}
.ui-widget-overlay { 
	position: fixed;
}
.ui-dialog-dragging {
	background: #f7f7e7 none;
	opacity: 0.6;
	-moz-opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=60)";
}
.ui-dialog-dragging .ui-resizable-handle {
	display: none;
}
.ui-dialog-dragging .ui-dialog-content {
	visibility: hidden;
}

/* Payment iFrame box */  	
.payment-method-iframe { 
	position: absolute; 	  	
	top:0px; 	  	
	left:0px;	  	
	z-index: 1000; 	  	
	width:100%; 	  	
	height:700px; 	  	
	background-color: #C0C0C0; 	  	
	opacity: 0.90; 	  	
	filter:alpha(opacity=90); 	  	
	-moz-opacity: 0.90;	  	
}
.payment-method-iframe-label {
	position: relative; 
	top:350px; 
	padding: 10px; 	
	height: 50px;
}	  	
.payment-method-iframe-text { 
	position:relative; 	  	
	top: 20px;	  	
	vertical-align: middle; 	  	
	text-align:center; 	  	
	font-weight:bolder;	  	
}
.payment-method-iframe-box { 
	overflow:hidden;
	height:700px;	
	position: relative;  	
	z-index: 10;
}
-/* /Payment iFrame box */

/* Entry page */
.entry-page {
    -webkit-box-shadow: 0 4px 15px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 4px 15px rgba(0,0,0,0.25);
	box-shadow: 0 4px 15px rgba(0,0,0,0.25);
}
.entry-page .ui-dialog-content {
	padding: 0;
}
.entry-page  .ui-dialog-titlebar {
	border-radius: 4px 4px 0 0;
	text-shadow: 0px 1px 0px #ddd;
}
.entry-page .object-container {
	border-top: none;
}
.entry-page-countries ul {
	float: left;
	display: inline-block;
	width: 100%;
}
.entry-page-countries li {
	margin: 1px 3px 0 0;
}
.entry-page-countries li a {
	display: inline-block;
	padding: 7px 5px 5px;
	width: 97%;
}
.entry-page-countries li a img {
	width: 16px;
	font-size: 0;
}
.entry-page-countries li a:hover {
	background-color: #f0f0f0;
	color: #000;
}
.flag-icon {
	float:left;
	margin-bottom: 2px;
	padding: 1px 6px;
}
/* /Entry page */

.sort-container {
	margin: 7px 0 12px;
	padding: 0 0 12px 0;
	border-bottom: 1px solid #dedede;
}
.views-icons {
	float: right;
	display: inline-block;
}
.views-icons a {
	float: left;
	display: block;
	width: 25px;
	height: 23px;
	background: url(images/sort_elements.png) 0 0 no-repeat;
}
.views-icons a.products-without-options {
	background-position: 0 0;
}
.views-icons a.products-multicolumns {
	background-position: -25px 0;
}
.views-icons a.short-list {
	background-position: -50px 0;
}
.views-icons a.products-without-options:hover {
	background-position: 0 -30px;
}
.views-icons a.products-multicolumns:hover {
	background-position: -25px -30px;
}
.views-icons a.short-list:hover {
	background-position: -50px -30px;
}
.views-icons a.products-without-options.active, .views-icons a.products-without-options.active:hover {
	background-position: 0 -60px;
}
.views-icons a.products-multicolumns.active, .views-icons a.products-multicolumns.active:hover {
	background-position: -25px -60px;
}
.views-icons a.short-list.active, .views-icons a.short-list.active:hover {
	background-position: -50px -60px;
}

/* Sorting Styles */
.sort-dropdown {
	display: inline-block;
	padding-left: 3px;
}
.sort-dropdown a {
	display: block;
	margin-right: -10px;
	padding: 4px 20px 0 6px;
	height: 18px;
}
.dropdown-container {
	display: inline-block;
	margin: 0 15px 0 0;
}
.cm-dropdown-content {
	border: 1px solid #b3b3b3;
	background-color: #fff;
	position: absolute;
	z-index: 100;
	display: none;
	padding: 5px 0;
}
.cm-dropdown-content a, .cm-dropdown-content a:visited, .cm-dropdown-content a:hover {
	display: block;
	padding: 2px 10px;
}
.sort-pagination {
	padding-top: 1px;
}
.sort-pagination a, .sort-pagination span {
	display: inline-block;
	padding: 1px 3px;
	min-width: 12px;
	text-align: center;
}
/* /Sorting Styles */
.ui-widget-content a {
	color: #08c;
}

/* Page 404 */
.exception{
	position: relative;
	margin: 40px 0px 60px 12px;
	padding: 5px 0px 0px 325px;
	min-height: 275px;
}
.exception h1{
	padding: 0px 0px 25px 0px;
}
.exception p{
	padding: 0px 0px 30px 0px;
}
.exception ul{
	margin: 0px 20px 0px 0px;
}
.exception ul li{
	float: left;
	margin-right: 20px;
}
.exception-code{
	position: absolute;
	top: 92px;
	left: 63px;
	color: #bfbfbf;
	font: normal bold 86px Arial, sans-serif;
	line-height: 70px;
}
/* /Page 404 */

/* Account */
.account {
	margin-bottom: 50px;
}
.account .address-switch {
	margin-left: -21px;
	padding-right: 20px;
	width: 100%;
}
.account .address-switch label {
	padding-right: 0px;
}
.account-detail {
	margin: 45px 0 0 58px;
	padding-bottom: 250px;
}
.account-detail h4 {
	padding-bottom: 10px;
}
.account-detail ul li {
	margin: 15px 0 0 17px;
}
.account .input-text {
	width: 100%;
}
.account .billing-last-name,
.account .billing-state,
.account .shipping-last-name,
.account .shipping-state {
	width: 220px;
}
.account .buttons-container, .company .buttons-container {
	margin: 15px 0px 28px -21px;
	padding: 17px 20px 17px 20px;
	width: 100%;
}
.account-benefits {
	margin: 47px 0 0 60px;
}
.account-benefits h4 {
	padding-bottom: 22px;
}
.account-benefits ul li {
	margin-bottom: 11px;
	padding-left: 30px;
}
.account-cancel {
	margin-left: 20px;
}
.last-name {
	width: 220px !important;
}
.state {
	margin-left: 4px;
	width: 160px !important;
}
/* /Account */

/* Login */
.login {
	width: auto;
}
.login .input-text {
	margin: 0;
	width: 100%;
}
.login .form-field {
	margin: 0 0 5px 0;
	padding: 5px 0;
}
.login .body-bc {
	position: relative;
	z-index: 100;
	margin: 22px 0 50px -20px;
	padding: 17px 20px 14px 20px;
	width: 100%;
	height: 32px;
}
.remember-me-chekbox {
	padding: 6px 0;
}
.login-info {
	margin: 46px 0 0 59px;
}
.login-info h4 {
	padding-bottom: 8px;
}
.login-info p {
	color: #808080;
}
.login-recovery .body-bc {
	margin-top: 25px;
}
.login-recovery .input-text {
	width: 100%;
}
/* /Login */

/*	Orders  */
.orders {
	position: relative;
}
.orders td {
	vertical-align: top;
}
.orders .no-markers {
	margin: 0;
	padding: 0;
}
.orders .tabs {
	margin-top: 48px;
}
.orders .border {
	border: none;
}
.orders .subheaders-group {
	margin: 0;
}
.orders-print {
	position: absolute;
	top: -46px;
}
.orders-print a,.orders-print a:hover {
	float: left;
	display: block;
	margin-right: 30px;
	height: 16px;
}
.orders-actions {
	position: absolute;
	top: -46px;
	right: 0;
}
.orders-actions ul li {
	float: left;
	margin-left: 18px;
}
.orders-actions a,.orders-actions a:hover {
	padding: 2px 0 1px 24px;
}
.orders .cm-tabs-content {
	padding: 18px 0 0;
}
.orders-customer h5 {
	margin-bottom: 5px;
}
.orders-customer .info-field {
	padding-top: 1px;
	font-weight: 400;
}
.orders-info {
	margin-top: 15px;
}
.orders-info th {
	text-align: left;
}
.orders-product {
	margin-top: 24px;
}
.orders-product .product {
	width: 64%;
}
.orders-product .price {
	width: 14%;
	text-align: right;
}
.orders-product .quantity {
	width: 8%;
}
.orders-product .subtotal {
	text-align: right;
}
.orders-product .table td {
	padding: 13px 10px 11px;
}
.orders-product .code {
	padding: 0;
}
.orders-product .text-button {
	display: block;
	margin-top: 5px;
}
.orders-notes-body {
	position: relative;
	margin-top: 19px;
	padding: 15px;
}
.orders-notes-arrow {
	position: absolute;
	top: -14px;
	left: 14px;
	width: 16px;
	height: 16px;
}
.orders-summary-wrap {
	margin-top: 10px;
	padding: 0 14px;
	min-width: 52%;
	float: left;
}
.orders-summary-wrap table {
	width: 100%;
}
.orders-summary-wrap table tbody tr td {
	padding: 13px 0 11px 0;
	vertical-align: middle;
}
.orders-summary-wrap .taxes td {
	padding-bottom: 0;
}
.orders-summary-wrap .taxes-desc td {
	padding-top: 4px;
}
.orders-shipment .subheader {
	padding-top: 10px;
}
.orders-shipment-info {
	margin-top: 39px;
}
.orders-shipment-info h2,.orders-shipment-comments h2 {
	padding-bottom: 15px;
}
.orders-shipment-comments {
	margin-top: 34px;
}
.orders-shipment-comments .orders-notes-body {
	margin: -5px 0 30px 0;
}
.orders-communication {
	margin-bottom: 30px;
}
.orders-repay {
	margin-top: 60px;
}
.orders-repay .cm-tabs-content {
	padding-left: 20px;
}
.orders-repay .form-field {
	margin: 1px 0 16px;
}
.orders-repay label {
	padding-bottom: 4px;
}
.orders-repay .input-text,.orders-repay select {
	width: 273px;
}
.orders-repay .tabs {
	margin-top: 8px;
}
.orders-repay .checkout-buttons {
	margin-right: 0;
}
.orders-product .table,.orders-shipment .table {
	margin-top: 11px;
}
.orders-notes,.orders-summary {
	margin-top: 28px;
}
/*	/Orders  */

/* Compare */
.compare .no-items {
	padding: 80px;
}
.compare,.compare-products {
	position: relative;
}
.compare-add td {
	padding-bottom: 10px;
	vertical-align: middle;
}
.compare-buttons {
	margin-top: 19px;
}
.compare-buttons .buttons-container {
	padding: 17px 20px;
}
.compare-buttons .buttons-container-empty {
	padding: 25px 20px;
}
.compare-menu {
	position: absolute;
	top: 35px;
	left: 0;
	z-index: 91;
}
.compare-menu ul li {
	margin-bottom: 14px;
	text-align: left;
}
.compare-menu ul li a {
	padding: 8px 16px 7px;
}
.compare-products .delete {
	visibility: hidden;
	padding-bottom: 10px;
}
.compare-products .product {
	padding-bottom: 10px;
}
.compare-products .product-container,.compare-products .prices-container,.compare-products .prices-container p{
	margin: 0;
	padding: 0;
}
.compare-products .title {
	margin-bottom: 7px;
	text-align: center;
	max-width: 220px;
}
.compare-products .icon-delete-small {
	margin-left: -30px;
	padding-left: 15px;	
}
.compare-products-table {
	margin-left: 220px;
}
.compare-products-l {
	position: absolute;
	top: 0;
	bottom: 16px;
	left: 0;
	z-index: 90;
	width: 170px;
	background: url(images/compare_list_bg.png) right repeat-y;
}
.compare-products-table td {
	padding: 0 10px;
	min-width: 220px;
	vertical-align: bottom;
	text-align: center;
}
.compare-products-table td:hover .delete,.compare-table-sort:hover .icon-delete-small {
	visibility: visible;
}
.compare-products-wrapper {
	overflow-x: auto;
	overflow-y: hidden;
}
.compare-table {
	position: relative;
	z-index: 100;
	margin: 10px 0;
}
.compare-table .left-border {
	padding: 0 10px;
	min-width: 219px;
}
.compare-table td {
	padding: 10px 15px;
	vertical-align: middle;
	text-align: center;
}
.compare-table-scroll {
	padding-top: 20px;
}
.compare-table-sort {
	position: relative;
	min-width: 188px;
}
.compare-table-sort .icon-delete-small {
	visibility: hidden;
	margin-left: 3px;
}
/* /Compare*/

/*  Company  */
.company {
	margin-bottom: 50px;
}
.company .input-text,.company .input-textarea-long {
	width: 100%;
}
.company .shipping-state,.company .shipping-last-name {
	width: 220px;
}
.company select {
	max-width: 220px;
}
.company-info {
	margin: 45px 0 0 58px;
	padding-bottom: 280px;
}
.company-info h4 {
	padding-bottom: 10px;
}
.company-info ul li {
	margin-bottom: 11px;
	padding: 2px 0 2px 30px;
}
/*  /Company  */

/* Details block*/
.details-block {
	margin-top: 10px;
}
.details-block .cm-combination {
	padding-right: 20px;
}
.details-block-box {
	position: relative;
	margin-top: 20px;
	padding: 10px;
}
.details-block-box .gray-block-arrow {
	position: absolute;
	top: -8px;
	left: 25px;
	width: 13px;
	height: 8px;
}
.details-block-field label {
	float: left;
	display: block;
	padding: 6px 0;
	width: 80px;
}
.details-block-field span {
	display: inline-block;
	padding: 6px 0;
}
/* /Details block*/

/*  Download */
.download {
	min-height: 280px;
}
.download .subheader {
	padding-top: 0;
}
.download .table {
	margin: 11px 0 35px 0;
}
.download .table tbody td {
	padding: 13px 10px 11px 10px;
}
/*  /Download */

/* Sitemap */
.sitemap {
	margin-bottom: 10px;
}
.sitemap-section h2 {
	display: block;
	padding: 10px 0 7px 0;
}
.sitemap-section-body {
	float: left;
	margin-bottom: 30px;
	width: 33%;
}
.sitemap-section-body {
	margin-top: 19px;
}
.sitemap-tree {
	margin: 19px 0 15px 0;
} 
.sitemap-tree-section ul {
	float: left;
	display: inline-block;
	margin-bottom: 30px;
	width: 33%;
	min-height: 125px;
}
/* /Sitemap */

/* Flags */
.flags .item-link {
	padding-left: 13px !important;
}
.flag {
	display: block;
	float: left;
	padding-right: 7px;
	width: 16px;
	height: 16px;
	background:url('images/flags.png') no-repeat top left;
}
.flag.flag-01{background-position: 0 0;} 
.flag.flag-ad{background-position: 0 -17px;} 
.flag.flag-ae{background-position: 0 -34px;} 
.flag.flag-af{background-position: 0 -51px;} 
.flag.flag-ag{background-position: 0 -68px;} 
.flag.flag-ai{background-position: 0 -85px;} 
.flag.flag-al{background-position: 0 -102px;} 
.flag.flag-am{background-position: 0 -119px;} 
.flag.flag-an{background-position: 0 -136px;} 
.flag.flag-ao{background-position: 0 -153px;} 
.flag.flag-ap{background-position: 0 -170px;} 
.flag.flag-aq{background-position: 0 -187px;} 
.flag.flag-ar{background-position: 0 -204px;} 
.flag.flag-as{background-position: 0 -221px;} 
.flag.flag-at{background-position: 0 -238px;} 
.flag.flag-au{background-position: 0 -255px;} 
.flag.flag-aw{background-position: 0 -272px;} 
.flag.flag-ax{background-position: 0 -289px;} 
.flag.flag-az{background-position: 0 -306px;} 
.flag.flag-ba{background-position: 0 -323px;} 
.flag.flag-bb{background-position: 0 -340px;} 
.flag.flag-bd{background-position: 0 -357px;} 
.flag.flag-be{background-position: 0 -374px;} 
.flag.flag-bf{background-position: 0 -391px;} 
.flag.flag-bg{background-position: 0 -408px;} 
.flag.flag-bh{background-position: 0 -425px;} 
.flag.flag-bi{background-position: 0 -442px;} 
.flag.flag-bj{background-position: 0 -459px;} 
.flag.flag-bm{background-position: 0 -476px;} 
.flag.flag-bn{background-position: 0 -493px;} 
.flag.flag-bo{background-position: 0 -510px;} 
.flag.flag-br{background-position: 0 -527px;} 
.flag.flag-bs{background-position: 0 -544px;} 
.flag.flag-bt{background-position: 0 -561px;} 
.flag.flag-bv{background-position: 0 -578px;} 
.flag.flag-bw{background-position: 0 -595px;} 
.flag.flag-by{background-position: 0 -612px;} 
.flag.flag-bz{background-position: 0 -629px;} 
.flag.flag-ca{background-position: 0 -646px;} 
.flag.flag-cc{background-position: 0 -663px;} 
.flag.flag-cd{background-position: 0 -680px;} 
.flag.flag-cf{background-position: 0 -697px;} 
.flag.flag-cg{background-position: 0 -714px;} 
.flag.flag-ch{background-position: 0 -731px;} 
.flag.flag-ci{background-position: 0 -748px;} 
.flag.flag-ck{background-position: 0 -765px;} 
.flag.flag-cl{background-position: 0 -782px;} 
.flag.flag-cm{background-position: 0 -799px;} 
.flag.flag-cn{background-position: 0 -816px;} 
.flag.flag-co{background-position: 0 -833px;} 
.flag.flag-cr{background-position: 0 -850px;} 
.flag.flag-cs{background-position: 0 -867px;} 
.flag.flag-cu{background-position: 0 -884px;} 
.flag.flag-cv{background-position: 0 -901px;} 
.flag.flag-cx{background-position: 0 -918px;} 
.flag.flag-cy{background-position: 0 -935px;} 
.flag.flag-cz{background-position: 0 -952px;} 
.flag.flag-da{background-position: 0 -969px;} 
.flag.flag-de{background-position: 0 -986px;} 
.flag.flag-dj{background-position: 0 -1003px;} 
.flag.flag-dk{background-position: 0 -1020px;} 
.flag.flag-dm{background-position: 0 -1037px;} 
.flag.flag-do{background-position: 0 -1054px;} 
.flag.flag-dz{background-position: 0 -1071px;} 
.flag.flag-ec{background-position: 0 -1088px;} 
.flag.flag-ee{background-position: 0 -1105px;} 
.flag.flag-eg{background-position: 0 -1122px;} 
.flag.flag-eh{background-position: 0 -1139px;} 
.flag.flag-el{background-position: 0 -1156px;} 
.flag.flag-en{background-position: 0 -1173px;} 
.flag.flag-er{background-position: 0 -1190px;} 
.flag.flag-es{background-position: 0 -1207px;} 
.flag.flag-et{background-position: 0 -1224px;} 
.flag.flag-eu{background-position: 0 -1241px;} 
.flag.flag-fi{background-position: 0 -1258px;} 
.flag.flag-fj{background-position: 0 -1275px;} 
.flag.flag-fk{background-position: 0 -1292px;} 
.flag.flag-fm{background-position: 0 -1309px;} 
.flag.flag-fo{background-position: 0 -1326px;} 
.flag.flag-fr{background-position: 0 -1343px;} 
.flag.flag-fx{background-position: 0 -1360px;} 
.flag.flag-ga{background-position: 0 -1377px;} 
.flag.flag-gb{background-position: 0 -1394px;} 
.flag.flag-gd{background-position: 0 -1411px;} 
.flag.flag-ge{background-position: 0 -1428px;} 
.flag.flag-gf{background-position: 0 -1445px;} 
.flag.flag-gg{background-position: 0 -1462px;} 
.flag.flag-gh{background-position: 0 -1479px;} 
.flag.flag-gi{background-position: 0 -1496px;} 
.flag.flag-gl{background-position: 0 -1513px;} 
.flag.flag-gm{background-position: 0 -1530px;} 
.flag.flag-gn{background-position: 0 -1547px;} 
.flag.flag-gp{background-position: 0 -1564px;} 
.flag.flag-gq{background-position: 0 -1576px;} 
.flag.flag-gr{background-position: 0 -1593px;} 
.flag.flag-gs{background-position: 0 -1610px;} 
.flag.flag-gt{background-position: 0 -1627px;} 
.flag.flag-gu{background-position: 0 -1644px;} 
.flag.flag-gw{background-position: 0 -1661px;} 
.flag.flag-gy{background-position: 0 -1678px;} 
.flag.flag-hk{background-position: 0 -1695px;} 
.flag.flag-hm{background-position: 0 -1712px;} 
.flag.flag-hn{background-position: 0 -1729px;} 
.flag.flag-hr{background-position: 0 -1746px;} 
.flag.flag-ht{background-position: 0 -1763px;} 
.flag.flag-hu{background-position: 0 -1780px;} 
.flag.flag-id{background-position: 0 -1797px;} 
.flag.flag-ie{background-position: 0 -1814px;} 
.flag.flag-il{background-position: 0 -1831px;} 
.flag.flag-im{background-position: 0 -1848px;} 
.flag.flag-in{background-position: 0 -1865px;} 
.flag.flag-io{background-position: 0 -1882px;} 
.flag.flag-iq{background-position: 0 -1899px;} 
.flag.flag-ir{background-position: 0 -1916px;} 
.flag.flag-is{background-position: 0 -1933px;} 
.flag.flag-it{background-position: 0 -1950px;} 
.flag.flag-je{background-position: 0 -1967px;} 
.flag.flag-jm{background-position: 0 -1984px;} 
.flag.flag-jo{background-position: 0 -2001px;} 
.flag.flag-jp{background-position: 0 -2018px;} 
.flag.flag-ke{background-position: 0 -2035px;} 
.flag.flag-kg{background-position: 0 -2052px;} 
.flag.flag-kh{background-position: 0 -2069px;} 
.flag.flag-ki{background-position: 0 -2086px;} 
.flag.flag-km{background-position: 0 -2103px;} 
.flag.flag-kn{background-position: 0 -2120px;} 
.flag.flag-kp{background-position: 0 -2137px;} 
.flag.flag-kr{background-position: 0 -2154px;} 
.flag.flag-kw{background-position: 0 -2171px;} 
.flag.flag-ky{background-position: 0 -2188px;} 
.flag.flag-kz{background-position: 0 -2205px;} 
.flag.flag-la{background-position: 0 -2222px;} 
.flag.flag-lb{background-position: 0 -2239px;} 
.flag.flag-lc{background-position: 0 -2256px;} 
.flag.flag-li{background-position: 0 -2273px;} 
.flag.flag-lk{background-position: 0 -2290px;} 
.flag.flag-lr{background-position: 0 -2307px;} 
.flag.flag-ls{background-position: 0 -2324px;} 
.flag.flag-lt{background-position: 0 -2341px;} 
.flag.flag-lu{background-position: 0 -2358px;} 
.flag.flag-lv{background-position: 0 -2375px;} 
.flag.flag-ly{background-position: 0 -2392px;} 
.flag.flag-ma{background-position: 0 -2409px;} 
.flag.flag-mc{background-position: 0 -2426px;} 
.flag.flag-md{background-position: 0 -2443px;} 
.flag.flag-me{background-position: 0 -2460px;} 
.flag.flag-mg{background-position: 0 -2477px;} 
.flag.flag-mh{background-position: 0 -2494px;} 
.flag.flag-mk{background-position: 0 -2511px;} 
.flag.flag-ml{background-position: 0 -2528px;} 
.flag.flag-mm{background-position: 0 -2545px;} 
.flag.flag-mn{background-position: 0 -2562px;} 
.flag.flag-mo{background-position: 0 -2579px;} 
.flag.flag-mp{background-position: 0 -2596px;} 
.flag.flag-mq{background-position: 0 -2613px;} 
.flag.flag-mr{background-position: 0 -2630px;} 
.flag.flag-ms{background-position: 0 -2647px;} 
.flag.flag-mt{background-position: 0 -2664px;} 
.flag.flag-mu{background-position: 0 -2681px;} 
.flag.flag-mv{background-position: 0 -2698px;} 
.flag.flag-mw{background-position: 0 -2715px;} 
.flag.flag-mx{background-position: 0 -2732px;} 
.flag.flag-my{background-position: 0 -2749px;} 
.flag.flag-mz{background-position: 0 -2766px;} 
.flag.flag-na{background-position: 0 -2783px;} 
.flag.flag-nc{background-position: 0 -2800px;} 
.flag.flag-ne{background-position: 0 -2817px;} 
.flag.flag-nf{background-position: 0 -2834px;} 
.flag.flag-ng{background-position: 0 -2851px;} 
.flag.flag-ni{background-position: 0 -2868px;} 
.flag.flag-nl{background-position: 0 -2885px;} 
.flag.flag-no{background-position: 0 -2902px;} 
.flag.flag-np{background-position: 0 -2919px;} 
.flag.flag-nr{background-position: 0 -2936px;} 
.flag.flag-nt{background-position: 0 -2953px;} 
.flag.flag-nu{background-position: 0 -2970px;} 
.flag.flag-nz{background-position: 0 -2987px;} 
.flag.flag-om{background-position: 0 -3004px;} 
.flag.flag-pa{background-position: 0 -3021px;} 
.flag.flag-pe{background-position: 0 -3038px;} 
.flag.flag-pf{background-position: 0 -3055px;} 
.flag.flag-pg{background-position: 0 -3072px;} 
.flag.flag-ph{background-position: 0 -3089px;} 
.flag.flag-pk{background-position: 0 -3106px;} 
.flag.flag-pl{background-position: 0 -3123px;} 
.flag.flag-pm{background-position: 0 -3140px;} 
.flag.flag-pn{background-position: 0 -3157px;} 
.flag.flag-pr{background-position: 0 -3174px;} 
.flag.flag-ps{background-position: 0 -3191px;} 
.flag.flag-pt{background-position: 0 -3208px;} 
.flag.flag-pw{background-position: 0 -3225px;} 
.flag.flag-py{background-position: 0 -3242px;} 
.flag.flag-qa{background-position: 0 -3259px;} 
.flag.flag-re{background-position: 0 -3276px;} 
.flag.flag-ro{background-position: 0 -3293px;} 
.flag.flag-rs{background-position: 0 -3310px;} 
.flag.flag-ru{background-position: 0 -3327px;} 
.flag.flag-rw{background-position: 0 -3344px;} 
.flag.flag-sa{background-position: 0 -3361px;} 
.flag.flag-sb{background-position: 0 -3378px;} 
.flag.flag-sc{background-position: 0 -3395px;} 
.flag.flag-sd{background-position: 0 -3412px;} 
.flag.flag-se{background-position: 0 -3429px;} 
.flag.flag-sg{background-position: 0 -3446px;} 
.flag.flag-sh{background-position: 0 -3463px;} 
.flag.flag-si{background-position: 0 -3480px;} 
.flag.flag-sj{background-position: 0 -3497px;} 
.flag.flag-sk{background-position: 0 -3514px;} 
.flag.flag-sl{background-position: 0 -3531px;} 
.flag.flag-sm{background-position: 0 -3548px;} 
.flag.flag-sn{background-position: 0 -3565px;} 
.flag.flag-so{background-position: 0 -3582px;} 
.flag.flag-sr{background-position: 0 -3599px;} 
.flag.flag-st{background-position: 0 -3616px;} 
.flag.flag-sv{background-position: 0 -3633px;} 
.flag.flag-sy{background-position: 0 -3650px;} 
.flag.flag-sz{background-position: 0 -3667px;} 
.flag.flag-tc{background-position: 0 -3684px;} 
.flag.flag-td{background-position: 0 -3701px;} 
.flag.flag-tf{background-position: 0 -3718px;} 
.flag.flag-tg{background-position: 0 -3735px;} 
.flag.flag-th{background-position: 0 -3752px;} 
.flag.flag-tj{background-position: 0 -3769px;} 
.flag.flag-tk{background-position: 0 -3786px;} 
.flag.flag-tl{background-position: 0 -3803px;} 
.flag.flag-tm{background-position: 0 -3820px;} 
.flag.flag-tn{background-position: 0 -3837px;} 
.flag.flag-to{background-position: 0 -3854px;} 
.flag.flag-tp{background-position: 0 -3871px;} 
.flag.flag-tr{background-position: 0 -3888px;} 
.flag.flag-tt{background-position: 0 -3905px;} 
.flag.flag-tv{background-position: 0 -3922px;} 
.flag.flag-tw{background-position: 0 -3939px;} 
.flag.flag-tz{background-position: 0 -3956px;} 
.flag.flag-ua{background-position: 0 -3973px;} 
.flag.flag-ug{background-position: 0 -3990px;} 
.flag.flag-uk{background-position: 0 -4007px;} 
.flag.flag-um{background-position: 0 -4024px;} 
.flag.flag-us{background-position: 0 -4041px;} 
.flag.flag-uy{background-position: 0 -4058px;} 
.flag.flag-uz{background-position: 0 -4075px;} 
.flag.flag-va{background-position: 0 -4092px;} 
.flag.flag-vc{background-position: 0 -4109px;} 
.flag.flag-ve{background-position: 0 -4126px;} 
.flag.flag-vg{background-position: 0 -4143px;} 
.flag.flag-vi{background-position: 0 -4160px;} 
.flag.flag-vn{background-position: 0 -4177px;} 
.flag.flag-vu{background-position: 0 -4194px;} 
.flag.flag-wf{background-position: 0 -4211px;} 
.flag.flag-ws{background-position: 0 -4228px;} 
.flag.flag-ye{background-position: 0 -4245px;} 
.flag.flag-yt{background-position: 0 -4262px;} 
.flag.flag-yu{background-position: 0 -4279px;} 
.flag.flag-za{background-position: 0 -4296px;} 
.flag.flag-zm{background-position: 0 -4313px;} 
.flag.flag-zr{background-position: 0 -4330px;} 
.flag.flag-zw{background-position: 0 -4347px;} 

/* /Flags */

/* Lightbox image previewer */
html #jquery-overlay {
	z-index: 910;
}
html #jquery-lightbox {
	z-index: 920;
}
/* /Lightbox image previewer */

/* Special user-defined styles */
.top-links-grid {
	margin-top: 4px;
}
.search-block-grid {
	margin-top: 10px;
}
.cart-content-grid {	  	
	margin-top: 12px;
}
.homepage-banners {
	margin-top: 20px;
}
.homepage-hotdeals {
	margin: 50px 0;
}
.homepage-hotdeals .mainbox-title, .homepage-vendors .mainbox-title {
	padding: 0;
}
.homepage-hotdeals .mainbox-title span, .homepage-vendors .mainbox-title span {
	color: #404040;
	font-size: 150%;
}
.homepage-vendors {
	margin-top: 35px;
	margin-right: 40px;
	padding-top: 15px;
	min-height: 200px;
}
.homepage-vendors ul {
	margin: 15px 15px 0 0;
}
.homepage-vendors ul li {
	padding: 5px 0;
}
.vendor-info {
	overflow: hidden;
	padding-left: 20px;
}
/* /Special user-defined styles */

/* WYSIWYG styles */
.wysiwyg-content h1 {
	font-size: 20px;
}
.wysiwyg-content h2 {
	font-size: 15px;
	font-weight: bold;
}
.wysiwyg-content h3 {
	font-size: 12px;
	font-weight: bold;
}
.wysiwyg-content h4 {
	font-size: 10px;
	font-weight: bold;
}
.wysiwyg-content h5 {
	font-size: 9px;
	font-weight: bold;
}
.wysiwyg-content h6 {
	font-size: 8px;
	font-weight: bold;
}
.footer-no-wysiwyg ul {
	margin: 10px 0 0 0px !important;
}
.footer-no-wysiwyg ul li {
	list-style-type: none !important;
	padding: 2px 0 !important;
}
/* WYSIWYG styles */