﻿<div class="group">
        <div class="control-group">
            <label class="checkbox" for="elm_is_prepaid">{$lang.is_prepaid}
                <input type="checkbox" name="is_prepaid" id="elm_is_prepaid" value="Y"{if $search.is_prepaid} checked="checked"{/if} />
            </label>
        </div>
  </div>
