 {include file="common_templates/subheader.tpl" title=$lang.weight_banner target="#acc_weight_banner"}
    <div id="acc_weight_banner" class="collapsed in">
        <div class="form-field">
            <label for="elm_category_display_weight_banner">{$lang.display_weight_banner}:</label>
            <input type="hidden" value="N" name="category_data[display_weight_banner]"/>
            <input type="checkbox" class="checkbox cm-toggle-checkbox" value="Y" name="category_data[display_weight_banner]" id="elm_category_display_weight_banner"{if $category_data.display_weight_banner=="Y"} checked="checked"{/if} />
        </div>
	</div>
	
	