.facebook-btn {
    background-image: url('images/buttons/facebook.png');
    width: 161px;
    height: 28px;
    margin: 0 20px 0 0;
    display: block;
}

.twitter-btn {
    background-image: url('images/buttons/twitter.png');
    width: 161px;
    height: 28px;
    display: block;
}

.twg-app-store-btn-en {
    background-image: url('images/buttons/en/app-store.png');
    background-size: 212px 64px;
    width: 212px;
    height: 64px;
    margin: 0 20px 0 0;
    display: block;
}

.twg-app-store-btn-ru {
    background-image: url('images/buttons/ru/app-store.png');
    background-size: 212px 64px;
    width: 212px;
    height: 64px;
    margin: 0 20px 0 0;
    display: block;
}

.twg-google-play-btn-en {
    background-image: url('images/buttons/en/google-play.png');
    background-size: 184px 64px;
    width: 184px;
    height: 64px;
    margin: 0 20px 0 0;
    display: block;
}

.twg-google-play-btn-ru {
    background-image: url('images/buttons/ru/google-play.png');
    background-size: 184px 64px;
    width: 184px;
    height: 64px;
    margin: 0 20px 0 0;
    display: block;
}

.twg-app-label {
    clear: both;
    padding-top: 10px;
}

.twg-push-counter {
    clear: both;
    padding-top: 3px;
    color: #5F5F5F;
    font-size: 13px;
}

.twg-text-value {
    padding: 4px 18px 0 0;
}

.twg-connected {
    color: green;
}

.twg-disconnected {
    color: red;
}

#content_grouptwigmo{
    border-collapse: collapse;
}

#content_grouptwigmo tr:hover td{
    background-color: #fff !important;
    border-color: transparent;
    border-top-color: #ebebeb;
}

#content_grouptwigmo .submit-button input{
    padding: 5px 10px;
    height: auto;
}

div[id^="content_twigmo"] fieldset{
    margin-top: 10px;
}

div[id^="content_twigmo"] .submit-button input{
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #006dcc;
    background-image: -moz-linear-gradient(top,#08c,#0044cc);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#08c),to(#0044cc));
    background-image: -webkit-linear-gradient(top,#08c,#0044cc);
    background-image: -o-linear-gradient(top,#08c,#0044cc);
    background-image: linear-gradient(to bottom,#08c,#0044cc);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0043cc', GradientType=0);
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: none;
}

div[id^="content_twigmo"] .submit-button input:active{
    background: #207ce5;
    background: -moz-linear-gradient(top, #207ce5 0%, #499bea 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #207ce5), color-stop(100%, #499bea));
    background: -webkit-linear-gradient(top, #207ce5 0%, #499bea 100%);
    background: -o-linear-gradient(top, #207ce5 0%, #499bea 100%);
    background: -ms-linear-gradient(top, #207ce5 0%, #499bea 100%);
    background: linear-gradient(to bottom, #207ce5 0%, #499bea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207ce5', endColorstr='#499bea', GradientType=0 );
}

div[id^="content_twigmo"] .form-field label{
    padding-top: 5px;
}

div[id^="content_twigmo"] .right.contact-support{
    margin: 10px 0;
}

.twg-stores .checkbox{
    margin: 0;
}
.twg-mobile-app-link, .twg-mobile-app-link:hover {
    background: none !important;
    margin-right: 0;
}

.twg-mobile-app-link a, .twg-mobile-app-link a:hover {
    display: block;
    background: none!important;
}

.twg-mobile-app-link:hover a{
    background: rgba(255,255,255,0.2) !important;
    background: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.4) 100%) !important;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.2)), color-stop(100%, rgba(255,255,255,0.4))) !important;
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.4) 100%) !important;
    background: -o-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.4) 100%) !important;
    background: -ms-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.4) 100%) !important;
    background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.4) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 ) !important;
}