{** block-description:tmpl_payment_icons **}
<div class="payment-icons">
	<div class="payment-icon visa"></div>
	<div class="payment-icon mastercard"></div>
	<div class="payment-icon paypal"></div>
</div>
