{* $Id: cod.tpl 4070 2007-09-27 06:51:55Z zenuch $ *}
{* 
<table width="300" border="0" style="margin-bottom:20px; margin-left:40px;">
<!--  <tr>
    <td><strong>Alpha Bank:</strong></td>
    <td>993002101029410</td>
  </tr>
-->  <tr>
    <td><strong>Eurobank:</strong></td>
    <td>00260234400200408405</td>
  </tr>
  <tr>
    <td><strong>Piraeus:</strong></td>
    <td>5009056806232</td>
  </tr>
</table>


<script type="text/javascript" language="javascript 1.2">
//<![CDATA[
	// Check payment info fields
	function fn_can_place_order()
	{ldelim}
		return fn_check_agreement();
	{rdelim}
//]]>
</script>

*}