.invoice_receipt{
font-size:115%;
padding: 10px 20px;
}

#invoice_receipt_question{
font-size:145%;
}

label.i-required:after {
content: "*";
padding-left: 3px;
color: #d64830;
font-size: 130%;
line-height: 1px;
}

.i-disable-field{background-color: #cccccc;}

#i-receipt-store-cntr{padding-bottom:10px;padding-top: 20px;padding-left: 20px;}
#i-receipt-store-cntr input {margin-left:5px;}
#i-receipt-store-cntr label{color:#333;font-size:145%;}
#i-receipt-store-tooltip{display:block;font-size:100%;padding-left:10px;padding-top:5px;color:#2d2e2e;}

.checkout-steps .form-field.last-name{width:100% !important;}