/* Main styles */
.subcategories ul {
	line-height: 16px;
}
.subcategories li {
	width: 280px;
}
.subcategories ul li {
    padding: 5px 1px;
    border-bottom: 5px solid rgb(210, 228, 236);
}
.subcategories ul li:hover {
    border-bottom-color: rgb(86, 163, 221) !important;
}
.subcategories ul li a:hover {
	text-decoration:none;
}
#tixeroulis-adv {
	display:none;
}
body, h1, h2, h3, h4, h5, h6 {
	font: normal 13px 'Ubuntu', Arial, Tahoma, Helvetica, sans-serif;
}
.logo-container .logo {
	display: inline-block;
	margin-top: 8px;
	margin-bottom: 8px;
	text-decoration: none;
}
.header {
	background: #ededed url(../../images/top_bg.png) top repeat-x;
}
a, a:visited, a:active, a:hover {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	color: #000;
	text-decoration: underline;
	cursor: pointer;
}
.homepage-banners {
	margin-top: 20px;
	margin-bottom: 10px;
}
.small {
	font-size: 10px;
	line-height: 10px;
	margin: -10px 0px 0px;
	text-align: center;
}
.phoneorder {
    height: 55px;
    line-height: 30px;
    font-size: 15px;
    color: rgb(56, 71, 84);
    padding: 0px 0px 0px 30px;
    background: url("../../images/phone.png") no-repeat scroll 0px 33% transparent;
    text-align: center;
    float: left;
	margin-left:50px;
}
.search-block {
	text-align: right;
	clear:both;
	margin-top:40px;
}
.search-block-grid {
	margin-top: 10px;
}
.cart-content-grid {	  	
	margin-top: 32px;
}
/* Quick links */
/** top **/
.quick-links-top {
	font-size: 11px;
	margin-top: 1px;
	margin-left: 5px;
	margin-right: 0px;
}
/* Quick links */
/** top **/
.quick-links-top ul li a{
	color:#000; 
}
/* Dropdown box styles */
.my-account {
	margin-top:6px;
}
.homepage-hotdeals {
	box-shadow: 0px 3px 3px rgb(238, 238, 238);
	border-radius: 6px 6px 6px 6px;
	background-clip: padding-box;
	border: 1px solid rgb(220, 220, 220);
    padding: 3px;
    margin: 10px 0px 20px 0px;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
}
.homepage-hotdeals .mainbox-title span {
    height: 36px;
    line-height: 36px;
    background: none repeat scroll 0% 0% #eee;
    text-indent: 15px;
    color: rgb(56, 71, 84);
    font-weight: normal;
    font-size: 15px;
	box-shadow: 0px 2px 3px rgb(214, 224, 232);
	display: block;
}
.box_shadow {
    box-shadow: 0px 3px 3px rgb(238, 238, 238);
}
.box_round {
    border-radius: 6px 6px 6px 6px;
    background-clip: padding-box;
}
.box_round {
    border: 1px solid rgb(220, 220, 220);
    padding: 3px;
    margin: 0px 0px 10px;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
}
.box_gradient {
    background-color: rgb(255, 255, 255);
    background-image: -moz-linear-gradient(center bottom , rgb(248, 248, 248) 0%, rgb(255, 255, 255) 25%);
}
.box_round_blue {
    border-radius: 6px 6px 6px 6px;
    background-clip: padding-box;
	background: none repeat scroll 0% 0% #eee;
	margin: 0px 0px 10px;
	padding: 15px;
	min-height: 72px;
}
.subscribe-block .subscribe-notice {
	margin-top: 0px;
	color: #8c8c8c;
	font-size: 90%;
	line-height: 100%;
	display:none;
}
.sidebox-my-title span, .sidebox-my-title a {
	text-decoration: none;
	text-transform: none;
	font-weight: normal;
	font-size: 21px;
	height: 36px;
    line-height: 53px;
    text-indent: 15px;
    color: rgb(56, 71, 84);
	margin: 10px;
}
.sidebox-my-body {
	padding: 12px;
	border: 0px solid #b8b8b8;
	min-height: 80px;
}
.sidebox-my-body img{
	float: left;
	margin: 0px 20px 0px 0px;
	vertical-align: baseline;
}
.sidebox-my-body ul li a{
	font-size: 13px;
	line-height: 13px;
	display: block;
	color: rgb(100, 100, 100);
}
.sidebox-my-body ul li a:hover{
	font-size: 13px;
	line-height: 13px;
	display: block;
	color:#d90000;
}
.promo-category {
    float: left;
    width: 350px;
	min-height: 404px;
    margin: 0px 15px 0px 0px;
}
.promo-category h3 {
    font-size: 21px;
    color: rgb(60, 74, 87);
    font-weight: normal;
    margin: 10px 0px 20px;
}
.promo-category .title {
    font-size: 18px;
    line-height: 20px;
    color: rgb(56, 71, 84);
    margin: 0px 0px 10px;
    padding: 0px 0px 0px 20px;
}
.promo-category img{
    margin: 0px 0px 10px;
}
.promo-products {
	margin-top: 20px;
    float: left;
    width: 280px;
}
.promo-products ul li {
	box-shadow: 0px 8px 8px -8px rgb(0, 0, 0);
	border-radius: 6px 6px 6px 6px;
	background-clip: padding-box;
	border: 1px solid rgb(220, 220, 220);
	padding: 3px;
	margin: 0px 0px 10px;
	background: none repeat scroll 0% 0% rgb(255, 255, 255);
}
.promo-products .product-item-image.compact {
	box-shadow: 0px 8px 8px -8px rgb(0, 0, 0);
	border-radius: 6px 6px 6px 6px;
	background-clip: padding-box;
	border: 1px solid rgb(220, 220, 220);
	padding: 3px;
	margin: 0px 0px 20px 20px;
	background: none repeat scroll 0% 0% rgb(255, 255, 255);
}

.promo-products ul li.delim {
	display:none;
}

.promo-products-instock ul li.delim {
	display:none;
}
/* /Tabs */
.cm-tabs-content {
	padding: 15px;
    box-shadow: 0px -2px 3px rgb(175, 179, 182) inset;
	border-radius: 0px 0px 6px 6px;
}

.my-button {
    background-color: rgb(232, 239, 244);
    background-image: linear-gradient(to bottom, rgb(232, 239, 244), rgb(210, 220, 228));
	border-radius: 12px 12px 12px 12px;
	background-clip: padding-box;
	border: 1px solid rgb(182, 202, 216);
	display: block;
	height: 20px;
	line-height: 20px;
	padding: 0px 10px;
	color: rgb(56, 71, 84);
	font-size: 11px;
	font-weight: bold;
	float: left;
	cursor: pointer;
	margin: 10px 0px 10px 0px;
}
/* Multicolumns dropdown */
.wrap-dropdown-multicolumns {
	position: relative;
	display: block;
	margin: 0px auto;
}
ul.dropdown-multicolumns {
	margin: 0px auto 0px auto;
	padding: 0px 2px !important;
	min-height: 40px;
	list-style: none;
}
ul.dropdown-multicolumns li {
	position: relative;
	float: left;
	margin-top: 0px;
	margin-right: 1px !important;
	border: none;
	text-align: center;
	padding: 0;
}
ul.dropdown-multicolumns li:last-child {
	margin-right: 0;
} 
ul.dropdown-multicolumns li.fullwidth {
	position: static !important;
}
ul.dropdown-multicolumns > li.cm-active {
	min-height: 35px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background: #999999;
}
ul.dropdown-multicolumns > li.cm-active > a.drop {
	min-height: 35px;
	padding-bottom: 0px;
}
ul.dropdown-multicolumns > li:hover {
	z-index: 500;
	border-bottom: none;
    -webkit-border-radius: 0px 0px 0px 0px;
    -khtml-border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
	background: #999999;
}
ul.dropdown-multicolumns > li.nodrop:hover {
	z-index: 500;
	border-bottom: none;
    -webkit-border-radius: 0px 0px 0px 0px;
    -khtml-border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
	background: #999999;
	padding: 12px 0px 0px 0px;
}
ul.dropdown-multicolumns li.nodrop {
	text-transform: none;
	font: bold 12px/14px Arial;
	max-width: 90px;
	width: 90px;
}
ul.dropdown-multicolumns li.nodrop:hover > a {
	position: relative;
	text-transform: none;
	max-width: 90px;
	width: 90px;
	padding: 0px 20px 0px 2px;
}
ul.dropdown-multicolumns li a {
	min-height: 28px;
	display: block;
	padding: 8px 20px 7px 2px;
	outline: 0;
	color: #fff;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}
ul.dropdown-multicolumns li a.drop, ul.dropdown-multicolumns li.nodrop a {
	text-transform: none;
	font: bold 12px/14px Arial;
	max-width: 90px;
	width: 90px;
}
ul.dropdown-multicolumns li:hover a {
	min-height: 29px;
	position: relative;
	z-index: 600;
	padding: 8px 20px 5px 2px;
	border-bottom: 0px solid #ff7b72;
	color: #fff;
	text-shadow: none;
}
ul.dropdown-multicolumns li:hover div a {
	display: inline;
}
ul.dropdown-multicolumns li .drop {
	padding-right: 27px;
}
ul.dropdown-multicolumns li:hover .drop {
	padding-right: 27px;
}
/* Right aligned menu item */
ul.dropdown-multicolumns .right {
	right: 0;
	float: right;
	margin-right: 0px;
}
ul.dropdown-multicolumns li.right:hover {
	margin-right: -1px;
}
/* /Right aligned menu item */

.dropdown-1column, 
.dropdown-2columns, 
.dropdown-3columns, 
.dropdown-4columns,
.dropdown-5columns,
.dropdown-fullwidth {
	position: absolute;
	left: -999em;
    z-index: 510;
	margin: 4px auto;
	padding: 20px 0 0;
	border: 1px solid #444444;
    -webkit-border-radius: 0px 3px 3px 3px;
    -khtml-border-radius: 0px 3px 3px 3px;
	-moz-border-radius: 0px 3px 3px 3px;
    border-radius: 0px 5px 5px 5px;
	background: #f4f8fa;
	background: #eee;
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	text-align: left;
}

/* Drop downs sizes */
.dropdown-1column {width: 163px;}
.dropdown-2columns {width: 318px;}
.dropdown-3columns {width: 473px;}
.dropdown-4columns {width: 628px;}
.dropdown-5columns {width: 783px;}
.dropdown-fullwidth {
	margin-top: 17px;
	width: 938px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
	-moz-border-radius: 3px;
    border-radius: 3px;
}
.dropdown-multicolumns li .first-fullwidth {
    -webkit-border-radius: 0px 3px 3px 3px;
	-moz-border-radius: 0px 3px 3px 3px;
    border-radius: 0px 3px 3px 3px;
}
/* /Drop downs sizes */

/* Drop to right */
.dropdown-multicolumns li:hover .dropdown-1column, 
.dropdown-multicolumns li:hover .dropdown-2columns, 
.dropdown-multicolumns li:hover .dropdown-3columns,
.dropdown-multicolumns li:hover .dropdown-4columns,
.dropdown-multicolumns li:hover .dropdown-5columns {
	top: 38px;
	left: -1px;
}
.dropdown-multicolumns li:hover .dropdown-fullwidth {
	top: 38px;
	left: 0px;
	display: block;
}
/* /Drop to right */

/* Drop to left */
.dropdown-multicolumns li .drop-left {
	top: 38px;
    -webkit-border-radius: 3px 0px 3px 3px;
	-moz-border-radius: 3px 0px 3px 3px;
    border-radius: 3px 0px 3px 3px;
}
.dropdown-multicolumns li:hover .drop-left {
	top: 38px;
	right: 0px;
	left: auto;
}
.dropdown-multicolumns li.right:hover .dropdown-fullwidth {
	top: 38px;
	right: 18px;
}
/* /Drop to left */

/* Columns Sizes */
.dropdown-multicolumns .col-1,
.dropdown-multicolumns .col-2,
.dropdown-multicolumns .col-3,
.dropdown-multicolumns .col-4,
.dropdown-multicolumns .col-5,
.dropdown-multicolumns .col-6 {
	float: left;
	display: inline-block;
	margin-right: 10px;
	padding-bottom: 10px;
}
.dropdown-multicolumns .col-1 {width: 145px;}
.dropdown-multicolumns .col-2 {width: 300px;}
.dropdown-multicolumns .col-3 {width: 455px;}
.dropdown-multicolumns .col-4 {width: 610px;}
.dropdown-multicolumns .col-5 {width: 765px;}
.dropdown-multicolumns .col-6 {width: 920px;}

.dropdown-multicolumns .firstcolumn {/* Use the firstcolumn class for the items that stick to the left edge of the dropdown */
	clear: left;
	margin-left: 9px;
}
/* /Columns Sizes */

.dropdown-multicolumns .lastcolumn {
	margin-right: 9px;
}

/* Content styles */
ul.dropdown-multicolumns h3 {
	margin-bottom: 10px;
	padding-bottom: 2px;
	border-bottom: 1px solid #e5e5e5;
	color: #4d4d4d;
	font-weight: 600;
	font-size: 13px;
}
ul.dropdown-multicolumns li:hover div a {
	padding: 0;
	border: none;
	text-decoration: none;
	text-shadow: none;
}
ul.dropdown-multicolumns .pusher { /* Use this pucher if you want to give more vertical spacing between your rows of content */
	margin-top: 18px;
}

ul.dropdown-multicolumns li ul {
	margin: 0 0 12px 0;
	padding: 0;
	list-style: none;
}
ul.dropdown-multicolumns li ul li {
	position: relative;
	float: left;
	margin: 3px 0 5px;
	padding: 0;
	width: 135px;
	text-align: left;
	text-shadow: 1px 1px 1px #ffffff;
	font-size: 12px;
	line-height: 12px;
}
ul.dropdown-multicolumns li ul li a {
	padding: 0;
}
ul.dropdown-multicolumns li ul li:hover {
	margin: 3px 0 5px;
	padding: 0;
	border: none;
}
.dropdown-bottom {
	clear: left;
	padding: 10px 20px;
	border-top: 1px solid #e6e6e6;
	-webkit-border-radius: 0 0 0px 0px;
	-moz-border-radius: 0 0 0px 0px;
	border-radius: 0 0 0px 0px;
	background-color: #f1f1f1;
	text-align: right;
	-ms-border-radius: 0 0 0px 0px;
}
.dropdown-bottom a {
	text-transform: none;
	font-size: 11px;
}
ul.dropdown-multicolumns {
	padding-bottom: 0px;
	border: 1px solid #444;
	border-top: 1px solid #5f5f5f;
	border-bottom: none;
	background: #353535 url(../../images/menu_bg.gif) 0 0 repeat-x;
	-webkit-border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px;
}
ul.dropdown-multicolumns li:hover div a {
	color: #444;
}
ul.dropdown-multicolumns li:hover div .alt-link a, ul.dropdown-multicolumns li:hover div .dropdown-bottom a {
	color:#d90000;
}
ul.dropdown-multicolumns li:hover div a:hover {
	color: #d90000;
	text-decoration: underline;
}
ul.dropdown-multicolumns li li.cm-active a, ul.dropdown-multicolumns li h3.cm-active a {
	color: #d90000;
}
ul.dropdown-multicolumns li ul li a:hover {
	color: #d90000;
	text-decoration: underline;
}
ul.dropdown-multicolumns li .drop, ul.dropdown-multicolumns li:hover .drop {
	padding-right: 0px;
	background: none;
}
ul.dropdown-multicolumns li:hover .drop {
	background-position: right -36px;
}
ul.dropdown-multicolumns h3 {
	min-height: 25px;
	line-height: 100%;
}
/* /Content styles */
/* /Multicolumns dropdown */
.payment-icon.twoco {display:none;}
.payment-icon.google {display:none;}
.product-main-info h1.mainbox-title {
	color: #08c;
	font-size:20px;
}
.product-social {
    height: 20px;
    line-height: 0px;
    background: none repeat scroll 0% 0% rgb(245, 245, 245);
    margin: 0px 0px 0px;
    padding: 10px;
}
/* Buttons */
.wish-link.text-button {
    padding: 3px 0px 3px 20px;
    background: url("../../images/icons/glyph_icons.png") no-repeat scroll 0px -177px transparent;
    font-size: 83%;
}
.wish-link.text-button:hover{
    padding: 3px 0px 3px 20px;
    background: url("../../images/icons/glyph_icons.png") no-repeat scroll 0px -177px transparent;
    font-size: 83%;
}
.button a, .button-action a, .button-big a, .button-submit-action input, .button-submit input, .button-submit-big input {
	border: 0 none;
	background: none;
	color: #fff;
	text-decoration: none;
	text-transform: none;
	/*text-shadow: 1px 1px 1px #000;[imatz] aferesi skias apo ta lin twn buttons */
	text-shadow:none; /*[imatz] aferesi skias apo ta lin twn buttons */
}
/* /Input buttons */
.text-button, .text-button:visited, .text-button:hover, .text-button:active, .text-button-act, .text-button-act:visited, .text-button-act:hover, .text-button-act:active {
	margin-right: 1px;
	padding-right: 8px;
	background: transparent url(../../images/icons/text_but_arrow.gif) no-repeat right 3px;
	text-transform: none;
	font-size: 85%;
}
.sidebox-important-wrapper .sidebox-title span {
	color: #fff;
	text-transform: none;
	text-shadow: 0px 1px 0px #222;
	font-weight: bold;
	font-size: 90%;
}
/* Pagination styles */
.pagination a, .pagination-selected-page {
	display: inline-block;
	padding: 1px 3px;
	min-width: 12px;
	-webkit-border-radius: 3px;	
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	text-transform: none;
	font-size: 85%;
}
.shipping-edit-link {
	display: inline-block;
	margin: 0 2px 0 3px;
	padding-left: 20px;
	background:  url(../../images/icons/glyph_icons.png) 0 -220px no-repeat;
	text-transform: none;
	font-size: 85%;
	line-height: 130%;
}
.popup-tabs li {
	display: inline-block;
	padding: 2px 15px 2px 18px;
	background: #FFF url(../../images/icons/popup_icon.png) 0 0 no-repeat;
	text-transform: none;
	font-size: 85%;
}
.sort-pagination a, .sort-pagination span {
	-webkit-border-radius: 3px;	
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-transform: none;
	font-size: 85%;
}
.account-cancel {
	margin-left: 20px;
	outline: none;
	border: none;
	background: none;
	color: #08c;
	text-transform: none;
	font-size: 11px;
	cursor: pointer;
}
.orders-actions a,.orders-actions a:hover {
	background: url('../../images/icons/glyph_icons.png') no-repeat;
	background-position: left -20px;
	text-transform: none;
	font-size: 85%;
	line-height: 15px;
}
.in-stock {
	padding: 10px 0 0 10px;
	color: #08c;
	background: none;
	display: inline-block;
}
.in-stock-avail-days{
	padding: 10px 0 0 0px;
	color: #08c;
	background: none;
	display: inline-block;
}
.out-of-stock {
	padding: 6px 0 0 0;
	margin: 8px 0 0 10px;
	color: #c33;
}
/* Janrain styles */
.janrain-wrap {
	padding: 0 0 10px 0;
	margin-top: 10px;
	background-color: #f7f7f7;
	border-radius: 5px;
	text-align: center;
}
.checkout-buttons .janrain-wrap {
	padding-top: 0;
	margin-top: 0;
}
.janrain-wrap span {
	font-size: 85%;
	text-transform: uppercase;
}
/* /Janrain styles */
table.specifications td,  table.specifications th{
	padding:6px;
}	
.specifications .section {
	background-color: rgb(245, 245, 245);
	font-weight: bold;
}
th.title {
	font-style:italic;
}

/* --- Buttons -- */
.button-submit input, .button input, .button a, .button.button-wrap-right:hover a, .ui-widget-content .button a {
	color:#ffffff;
	text-shadow:none;
}
.button-submit.b-click input, .button.b-click input, .button.b-click .button.button-wrap-right a, .button.button-wrap-right.b-click a, .ui-widget-content.b-click .button a {
	color: #ffffff;
}
.button-submit.button-wrap-left.b-click input, .button.button-wrap-left.b-click input {
	text-shadow:none;
}
.button a, .button-action a, .button-big a, .button-submit-action input, .button-submit input, .button-submit-big input {
	text-shadow:none;
}
.button-submit-action.b-click input, .button-submit.b-click input, .button-action.b-click a, .button-submit-big.b-click input {
	color: #ffffff;
}
/* [imatz] */
/* -- Feauters -- */
#content_features .subheader{font: bold 11px Arial,Helvetica,Sans;background-color: #DEDEDE;color: #000000;border-bottom: 1px solid #BBBBBB;padding:5px;}
#content_features .form-field{background-color:#ffffff !important;border-bottom: 1px solid #DEDEDE;padding:5px;}
#content_features .form-field label{font: normal 11px Arial;color: #000000;width: 40%;padding:0px;}
#content_features .feature-value{font: normal 11px Arial;color: #000000;width: 60%;padding:0px;}

/* -- Custom Features in product description -- */
table.spec_table td{font-family: arial;font-size: 11px;padding:5px;}
table.spec_table .spec_head{font: bold 16px Arial,Helvetica,Sans;color: #707070;border-bottom: 0px solid #DEDEDE;}
table.spec_table .spec_group_title{font: bold 11px Arial,Helvetica,Sans;background-color: #DEDEDE;color: #000000;border-bottom: 1px solid #BBBBBB;}
table.spec_table .spec_desc{border-bottom: 1px solid #DEDEDE;font: normal 11px Arial;color: #000000;width: 40%;}
table.spec_table .spec_val{border-bottom: 1px solid #DEDEDE;font: normal 11px Arial;color: #000000;width: 60%;}

.checkout-summary table td.right{padding-right: 0px;}

/* -- Block: Product summary in checkout page --*/
.my-checkout-product-image{display: block; float: left; width: 50px; margin-right: 10px;}
.order-product-list .product-name{max-width: 194px;}

p.bottom-copyright {margin-top: 30px;}
.payment-icons{margin: 25px 0;}
.i-skroutz-partner{margin-right: 20px;}
/* 
// Product details Page
*/
.price-normal-cntr .normal_price_label, .price-phone-cntr .phone_price_label{
	text-transform: capitalize;
	display: block;

	font-weight: 600;
	padding: 4px 10px 5px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #ebedef;
	color: #7b8996;
	font-size: 13.006px;
	line-height: 18.004px;
	margin-right: 4px;
	text-shadow: none;
	text-decoration: none;
}
.product-main-info{

}
.price-normal-cntr{
	float: left;
}
.price-normal-cntr .normal_price_label{
}
.price-normal-cntr .price{
	margin-left: 5px;
}
.price-normal-cntr .price-num{
	font-size: 20px;
}
.price-phone-cntr{
	margin-left: 30px;
	float: left;
}
.price-phone-cntr .phone_price_label{
	margin-right: 0px
}
.price-phone-cntr .price{
	margin-left: 5px;
}
.price-phone-cntr .price-num{
	font-size: 20px;
}
.product_notify_email{
	padding-bottom: 20px;
}

.i-ic-features-header {
    font-weight: bold;
}
ul.dropdown-multicolumns > li.nodrop:hover {
    background: #999999 none repeat scroll 0 0;
    border-bottom: medium none;
    border-radius: 0;
    padding: 6px 0;
    z-index: 500;
}
